<footer>
    <div class="footer footer--transparent">
        <div class="mbox">
            <div class="footer__row">
                <div class="footer__col">
                    <div class="footer__copyright">© 2020 MIT, Медицинские Технологии и Инновации</div>
                </div>
                <div class="footer__col">
                    <a href="#" class="footer__link">Политику конфиденциальности</a>
                    <a href="#" class="footer__link">контакты</a>
                    <div class="footer__socials">
                        <a href="#" class="footer__social">
                            <svg>
                                <use xlink:href="#vk-ico"></use>
                            </svg>
                        </a>
                        <a href="#" class="footer__social">
                            <svg>
                                <use xlink:href="#face-ico"></use>
                            </svg>
                        </a>
                        <a href="#" class="footer__social">
                            <svg>
                                <use xlink:href="#instagram-ico"></use>
                            </svg>
                        </a>
                        <a href="#" class="footer__social">
                            <svg>
                                <use xlink:href="#youtube-ico"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>