
<script>
    var revision = 310720;
    var file = 'images/sprite.svg';
</script>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://vjs.zencdn.net/7.8.3/video.js"></script>
<script src="js/plugins.js"></script>
<script src="js/base.js"></script>
<script src="js/dev.js"></script>
 