<header>
    <div class="header">
        <div class="mbox">
            <div class="header__top">
                <a href="index.html" class="header__logo">
                    <svg>
                        <use xlink:href="#logo-ico"></use>
                    </svg>
                </a>
                <div class="header__nav">
                    <div class="header__nav-item header__nav-item--has-child">
                        <a href="about.html">О компании</a>
                        <div class="header__submenu">
                            <a href="events.html">События</a>
                            <a href="video.html">Видео</a>
                            <a href="policy.html">Политика компании</a>
                            <a href="social.html">Социальная ответственность</a>
                            <a href="partners.html">Партнеры</a>
                            <a href="career.html">Карьера</a>
                        </div>
                    </div>
                    <div class="header__nav-item header__nav-item--has-child">
                        <a href="catalog.html">Продукция</a>
                        <div class="header__submenu">
                            <a href="events.html">События</a>
                            <a href="video.html">Видео</a>
                            <a href="policy.html">Политика компании</a>
                            <a href="social.html">Социальная ответственность</a>
                            <a href="partners.html">Партнеры</a>
                            <a href="career.html">Карьера</a>
                        </div>
                    </div>
                    <div class="header__nav-item header__nav-item--has-child">
                        <a href="service.html">Сервис</a>
                        <div class="header__submenu">
                            <a href="events.html">События</a>
                            <a href="video.html">Видео</a>
                            <a href="policy.html">Политика компании</a>
                            <a href="social.html">Социальная ответственность</a>
                            <a href="partners.html">Партнеры</a>
                            <a href="career.html">Карьера</a>
                        </div>
                    </div>
                    <div class="header__nav-item">
                        <a href="projects.html">Проекты</a>
                    </div>
                    <div class="header__nav-item header__nav-item--action">
                        <a href="action.html">Акции</a>
                    </div>
                    <div class="header__nav-item">
                        <a href="contacts.html">Контакты</a>
                    </div>
                </div>
                <div class="header__right">
                    <a href="tel:+74956609345" class="header__phone">+7 495 660-93-45</a>
                    <div class="header__search">
                        <div class="header__search-btn js-search">
                            <svg>
                                <use xlink:href="#search-ico"></use>
                            </svg>
                        </div>
                        <form class="header__search-input">
                            <input type="text" placeholder="Поиск по сайту">
                            <button type="submit" class="header__search-btn">
                                <svg>
                                    <use xlink:href="#search-ico"></use>
                                </svg>
                            </button>
                        </form>
                    </div>
                    <div class="header__mobmenu">
                        <div class="mobmenu">
                            <div class="mobmenu__burger">
                                <span></span>
                            </div>
                            <div class="mobmenu__inner">
                                <form class="mobmenu__search">
                                    <input type="text" placeholder="Поиск по сайту">
                                    <button>
                                        <svg>
                                            <use xlink:href="#search-ico"></use>
                                        </svg>
                                    </button>
                                </form>
                                <div class="mobmenu__nav">
                                    <div class="mobmenu__item">
                                        <a href="#" class="mobmenu__link">О компании</a>
                                        <div class="mobmenu__arrow"></div>
                                        <div class="mobmenu__submenu">
                                            <a href="#" class="mobmenu__sublink">События</a>
                                            <a href="#" class="mobmenu__sublink">События</a>
                                            <a href="#" class="mobmenu__sublink">Политика компании</a>
                                            <a href="#" class="mobmenu__sublink">Социальная ответственность</a>
                                            <a href="#" class="mobmenu__sublink">Партнеры</a>
                                            <a href="#" class="mobmenu__sublink">Карьера</a>
                                        </div>
                                    </div>
                                    <div class="mobmenu__item">
                                        <a href="#" class="mobmenu__link">Продукция</a>
                                        <div class="mobmenu__arrow"></div>
                                        <div class="mobmenu__submenu">
                                            <a href="#" class="mobmenu__sublink">События</a>
                                            <a href="#" class="mobmenu__sublink">События</a>
                                            <a href="#" class="mobmenu__sublink">Политика компании</a>
                                            <a href="#" class="mobmenu__sublink">Социальная ответственность</a>
                                            <a href="#" class="mobmenu__sublink">Партнеры</a>
                                            <a href="#" class="mobmenu__sublink">Карьера</a>
                                        </div>
                                    </div>
                                    <div class="mobmenu__item">
                                        <a href="#" class="mobmenu__link">Сервис</a>
                                        <div class="mobmenu__arrow"></div>
                                        <div class="mobmenu__submenu">
                                            <a href="#" class="mobmenu__sublink">События</a>
                                            <a href="#" class="mobmenu__sublink">События</a>
                                            <a href="#" class="mobmenu__sublink">Политика компании</a>
                                            <a href="#" class="mobmenu__sublink">Социальная ответственность</a>
                                            <a href="#" class="mobmenu__sublink">Партнеры</a>
                                            <a href="#" class="mobmenu__sublink">Карьера</a>
                                        </div>
                                    </div>
                                    <div class="mobmenu__item">
                                        <a href="#" class="mobmenu__link">Политика компании</a>
                                    </div>
                                    <div class="mobmenu__item">
                                        <a href="#" class="mobmenu__link">Проекты</a>
                                    </div>
                                    <div class="mobmenu__item">
                                        <a href="#" class="mobmenu__link mobmenu__link--action">Акции</a>
                                    </div>
                                    <div class="mobmenu__item">
                                        <a href="#" class="mobmenu__link">Контакты</a>
                                    </div>
                                </div>
                                <a href="tel:+74956609345" class="mobmenu__phone">+7 495 660-93-45</a>
                                <div class="mobmenu__socials">
                                    <a href="#" class="mobmenu__social">
                                        <svg>
                                            <use xlink:href="#vk-ico"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="mobmenu__social">
                                        <svg>
                                            <use xlink:href="#face-ico"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="mobmenu__social">
                                        <svg>
                                            <use xlink:href="#instagram-ico"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="mobmenu__social">
                                        <svg>
                                            <use xlink:href="#youtube-ico"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>