//= parts/head.html
<div class="global-wrapper page-404--img">
    //= parts/header.html
    <div class="main">
        <div class="page-404">
            <div class="page-404__content">
                <div class="page-404__title">404</div>
                <div class="page-404__subtitle">Страница не найдена</div>
                <div class="page-404__desc">Страница, которую вы ищете, не существует... <br>
                    Вы можете вернуться назад или перейти на главную страницу</div>
                <div class="page-404__btn">
                    <a href="main.html" class="menu__item">
                        <span>Вернуться на главную страницу</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>