//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <h1 class="banner__title">О компании</h1>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="catalog__desc catalog__desc--small">
                            <p>С момента основания компании в 2009 году, наши усилия сконцентрированы в сфере обеспечения  лечебных учреждений самым современным и надежным медицинским оборудованием для ЭФИ-операционных.</p>
                        </div>
                        <div class="catalog__video">
                            <div class="catalog__video-img">
                                <img src="./images/video-img_01.png" alt="">
                                <a href="https://www.youtube.com/watch?v=COamF_DFKLw" data-fancybox class="catalog__video-play">
                                    <svg>
                                        <use xlink:href="#play-ico"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="catalog__video-right">
                                <div class="catalog__video-desc">Эндоваскулярная радиочастотная аблация аритмогенных очагов</div>
                                <a href="#" class="catalog__video-link">Смотреть все видео</a>
                            </div>
                        </div>
                        <div class="catalog__inner">
                            <div class="service__contact">
                                <div class="catalog__full">
                                    <div class="catalog__full-title">Миссия компании</div>
                                    <div class="catalog__full-desc">Внедряя мировой опыт, развивая инновационные технологии,  мы помогаем врачам восстанавливать здоровье людей и продлевать им жизнь.</div>
                                </div>
                            </div>
                        </div>
                        <div class="service__offer about__values">
                            <div class="service__offer-title">Наши ценности</div>
                            <div class="service__offer-box">
                                <div class="service__offer-item">
                                    <div class="service__offer-ico">
                                        <svg>
                                            <use xlink:href="#service-gal-ico"></use>
                                        </svg>
                                    </div>
                                    <div class="service__offer-text">Мы за <b>честность и профессионализм</b> в решении любых задач.</div>
                                </div>
                                <div class="service__offer-item">
                                    <div class="service__offer-ico">
                                        <svg>
                                            <use xlink:href="#service-gal-ico"></use>
                                        </svg>
                                    </div>
                                    <div class="service__offer-text">Мы несем <b>ответственность</b> за свою работу.</div>
                                </div>
                                <div class="service__offer-item">
                                    <div class="service__offer-ico">
                                        <svg>
                                            <use xlink:href="#service-gal-ico"></use>
                                        </svg>
                                    </div>
                                    <div class="service__offer-text"><b>Забота о людях</b> для нас не просто слова. Мы верим, что внимательное отношение к потребностям наших клиентов помогает в конечном результате обеспечить более высокие показатели выздоровления и улучшения качества жизни.</div>
                                </div>
                                <div class="service__offer-item">
                                    <div class="service__offer-ico">
                                        <svg>
                                            <use xlink:href="#service-gal-ico"></use>
                                        </svg>
                                    </div>
                                    <div class="service__offer-text"><b>Сплоченная команда</b> – основа успеха. Для нас важно формирование отношений, в которых каждый сотрудник ценен для компании. Мы способствуем максимальному профессиональному развитию, комфортным и безопасным условиям труда. Именно это позволяет добиться максимальных результатов.</div>
                                </div>
                                <div class="service__offer-item">
                                    <div class="service__offer-ico">
                                        <svg>
                                            <use xlink:href="#service-gal-ico"></use>
                                        </svg>
                                    </div>
                                    <div class="service__offer-text"><b>С теплоты отношений</b> в коллективе начинается доброе отношение к партнерам и пациентам.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="right__decor-wrap">
                            <div class="right__decor">
                                <img src="./images/right-back.svg" alt="">
                            </div>
                        </div>
                         <div class="menu">
                             <div class="menu__wrap">
                                 <div class="menu__box">
                                     <a href="events.html" class="menu__item"><span>События</span></a>
                                 </div>
                                 <div class="menu__box">
                                     <a href="video.html" class="menu__item"><span>Видео</span></a>
                                 </div>
                                 <div class="menu__box menu__box--has-submenu">
                                     <a href="policy.html" class="menu__item"><span>Политика компании</span></a>
                                     <div class="menu__submenu">
                                         <a href="anti-corruption.html" class="menu__submenu-item"><span>Антикоррупционная политика</span></a>
                                         <a href="privacy.html" class="menu__submenu-item"><span>Политика конфиденциальности</span></a>
                                     </div>
                                 </div>
                                 <div class="menu__box">
                                     <a href="social.html" class="menu__item"><span>Социальная ответственность</span></a>
                                 </div>
                                 <div class="menu__box">
                                     <a href="partners.html" class="menu__item"><span>Партнеры</span></a>
                                 </div>
                                 <div class="menu__box">
                                     <a href="career.html" class="menu__item"><span>Карьера</span></a>
                                 </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>