//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner mobile--dn">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li>
                            <a href="/" title="Ювелирные изделия Mono">Главная</a>
                        </li>s
                        <li>
                            <a href="action.html" title="Серьги">Акции</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="product">
                            <h1 class="product__title">Специальные предложения</h1>
                            <div class="catalog__desc">Аблация, или повреждение патологических аритмогенных участков проводящей системы сердца – это малоинвазивное катетерное хирургическое вмешательство, пришедшее на смену операциям на открытом сердце при лечении аритмий.
                            </div>
                            <div class="catalog__inner">
                                <a href="#" class="catalog__box">
                                    <div class="catalog__img">
                                        <img src="./images/catalog-img_02.png" alt="">
                                    </div>
                                    <div class="catalog__col">
                                        <div class="catalog__heading">Расходные материалы</div>
                                    </div>
                                </a>
                                <a href="#" class="catalog__box">
                                    <div class="catalog__img">
                                        <img src="./images/catalog-img_03.png" alt="">
                                    </div>
                                    <div class="catalog__col">
                                        <div class="catalog__heading">Имплантируемые устройства</div>
                                    </div>
                                </a>
                                <a href="#" class="catalog__box">
                                    <div class="catalog__img">
                                        <img src="./images/products-img_01.png" alt="">
                                    </div>
                                    <div class="catalog__col">
                                        <div class="catalog__heading">Оборудование</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>