//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner mobile--dn">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li>
                            <a href="/" title="Ювелирные изделия Mono">Главная</a>
                        </li>
                        <li>
                            <a href="action.html">Акции</a>
                        </li>
                        <li>
                            <a href="action.html">Распродажа</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="product">
                            <h1 class="product__title">Расходные материалы</h1>
                            <div class="catalog__desc">В настоящее время в клинической практике применяются два основных метода аблации: радиочастотная (РЧА) и крио баллонная (КРИО). Оба этих метода хорошо зарекомендовали себя, имеют массовое применение, являются достаточно безопасными для лечения нарушений сердечного ритма.</div>
                            <div class="catalog__download">
                                <a href="#">Скачать</a>
                            </div>
                        </div>
                    </div>
                    <div class="right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>