//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <h1 class="banner__title">Акции</h1>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog catalog--full-width">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="catalog__desc">Предлагаем ознакомиться с нашими актуальными специальными предложениями</div>
                        <div class="catalog__inner">
                            <div class="catalog__box">
                                <div class="catalog__img">
                                    <img src="./images/action-img_01.png" alt="">
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__heading">Специальные предложения</div>
                                    <div class="catalog__subheading">Сервисное подразделение нашей компании осуществляет комплексную техническую поддержку всех проектов по оснащению медицинских учреждений оборудованием для ЭФИ и рентгенохирургических операционных.
                                    </div>
                                    <div class="catalog__links">
                                        <a href="#" class="catalog__link"><span>Подробнее</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__box">
                                <div class="catalog__img">
                                    <img src="./images/action-img_02.png" alt="">
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__heading">Переговорное устройство для операционных в подарок</div>
                                    <div class="catalog__subheading">Сервисное подразделение нашей компании осуществляет комплексную техническую поддержку всех проектов по оснащению медицинских учреждений оборудованием для ЭФИ</div>
                                    <div class="catalog__links">
                                        <a href="#" class="catalog__link"><span>Подробнее</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>