//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li>
                            <a href="/">Главная</a>
                        </li>
                        <li>
                            <a href="policy.html">Политика компании</a>
                        </li>
                    </ul>
                </div>
                <h1 class="banner__title">Антикоррупционная политика</h1>
                <a href="#" class="banner__pdf">
                    <svg>
                        <use xlink:href="#pdf-ico"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="catalog__desc">
                            <p>
                                Коллектив ООО «Медицинские технологии и инновации» строго соблюдает положения действующего законодательства в области противодействия коррупции.
                            </p>
                        </div>
                        <div class="anti-corruption">
                            <div class="catalog__video catalog__video--border">
                                <div class="catalog__video-img">
                                    <img src="./images/anti-corruption-img.png" alt="">
                                </div>
                                <div class="catalog__video-right">
                                    <div class="catalog__video-desc">
                                        Антикоррупционная Политика компании является документом прямого действия, обязательного к применению и исполнению всеми сотрудниками компании.
                                        <br><br>
                                        Основная цель Антикоррупционной политики — обеспечение прозрачности ведения бизнеса Компании.

                                    </div>
                                </div>
                            </div>
                            <div class="catalog__pdf">
                                <a href="#" class="catalog__pdf-link">
                                    <svg>
                                        <use xlink:href="#pdf-ico"></use>
                                    </svg>
                                </a>
                                <div class="catalog__pdf-title">Действующая редакция Антикоррупционной политики ООО «Медицинские технологии и инновации».</div>
                                <div class="catalog__pdf-desc">
                                    Все сообщения о готовящихся или совершившихся фактах коррупции просим вас направлять по адресу <a href="mailto:ess@m-t-i.ru">ess@m-t-i.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="menu">
                            <div class="menu__wrap">
                                <div class="menu__box">
                                    <a href="events.html" class="menu__item"><span>События</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="video.html" class="menu__item"><span>Видео</span></a>
                                </div>
                                <div class="menu__box menu__box--has-submenu active">
                                    <a href="policy.html" class="menu__item"><span>Политика компании</span></a>
                                    <div class="menu__submenu">
                                        <a href="anti-corruption.html" class="menu__submenu-item active"><span>Антикоррупционная политика</span></a>
                                        <a href="privacy.html" class="menu__submenu-item"><span>Политика конфиденциальности</span></a>
                                    </div>
                                </div>
                                <div class="menu__box">
                                    <a href="social.html" class="menu__item"><span>Социальная ответственность</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="partners.html" class="menu__item"><span>Партнеры</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="career.html" class="menu__item"><span>Карьера</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>