//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <h1 class="banner__title">Карьера</h1>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="career">
                            <div class="career__title">Преимущества работы в нашей компании</div>
                            <div class="catalog__desc">
                                <p>
                                    Наша компания работает в одной из самых развивающихся современных областей медицины – кардиологии, в той части, которая относится к нарушению проводимости сердца.
                                </p>
                            </div>
                            <div class="catalog__video catalog__video--border">
                                <div class="catalog__video-img">
                                    <img src="./images/career-img.png" alt="">
                                </div>
                                <div class="catalog__video-right">
                                    <div class="catalog__video-desc">
                                        Присоединившись к нашей команде, вы будете не только участвовать в развитии и реализации интересных, инновационных проектов, но и способствовать выздоровлению пациентов с нарушениями сердечного ритма.
                                        <br><br>
                                        Большое внимание в нашей компании уделяется профессиональному росту, обучению и развитию сотрудников.  Для всех сотрудников компании предоставляется достойный социальный пакет.
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__pdf career__box">
                                <div class="catalog__pdf-desc">
                                    Если вы хотите работать в надежной стабильной компании с дружным коллективом, если вы профессионал в своей области, обладаете активной жизненной позицией,  стремитесь развиваться в сфере медицинских технологий, мы ждем ваше резюме по адресу <a href="mailto:hr@m-t-i.ru.">hr@m-t-i.ru.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="menu">
                            <div class="menu__wrap">
                                <div class="menu__box">
                                    <a href="events.html" class="menu__item"><span>События</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="video.html" class="menu__item"><span>Видео</span></a>
                                </div>
                                <div class="menu__box menu__box--has-submenu">
                                    <a href="policy.html" class="menu__item"><span>Политика компании</span></a>
                                    <div class="menu__submenu">
                                        <a href="anti-corruption.html" class="menu__submenu-item"><span>Антикоррупционная политика</span></a>
                                        <a href="privacy.html" class="menu__submenu-item"><span>Политика конфиденциальности</span></a>
                                    </div>
                                </div>
                                <div class="menu__box">
                                    <a href="social.html" class="menu__item"><span>Социальная ответственность</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="partners.html" class="menu__item"><span>Партнеры</span></a>
                                </div>
                                <div class="menu__box active">
                                    <a href="career.html" class="menu__item"><span>Карьера</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>