//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <h1 class="banner__title">Каталог продукции</h1>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="catalog__desc">
                            <p>Мы осуществляем комплексное оснащение операционных, в которых проводится диагностика и лечение нарушений сердечного ритма.</p>
                            <p>В каталоге представлены системы навигации и картирования, ЭФИ системы, имплантируемые устройства, полный спектр расходных материалов.</p>
                        </div>
                        <div class="catalog__inner">
                            <div class="catalog__box">
                                <div class="catalog__img">
                                    <img src="./images/catalog-img_01.png" alt="">
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__heading">Решения для ЭФИ операционных</div>
                                    <div class="catalog__links">
                                        <a href="#" class="catalog__link"><span>Навигация и картирование сердца</span></a>
                                        <a href="#" class="catalog__link"><span>ЭФИ системы</span></a>
                                        <a href="#" class="catalog__link"><span>Оборудование для криоаблации</span></a>
                                        <a href="#" class="catalog__link"><span>РЧ генераторы и помпы</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__box">
                                <div class="catalog__img">
                                    <img src="./images/catalog-img_02.png" alt="">
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__heading">Расходные материалы</div>
                                    <div class="catalog__links">
                                        <a href="#" class="catalog__link"><span>Катетеры диагностические</span></a>
                                        <a href="#" class="catalog__link"><span>Навигационные специализированные</span></a>
                                        <a href="#" class="catalog__link"><span>Катетеры диагностические</span></a>
                                        <a href="#" class="catalog__link"><span>Катетеры терапевтические</span></a>
                                        <a href="#" class="catalog__link"><span>Криоаблационные катетеры</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__box">
                                <div class="catalog__img">
                                    <img src="./images/catalog-img_03.png" alt="">
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__heading">Имплантируемые  устройства</div>
                                    <div class="catalog__links">
                                        <a href="#" class="catalog__link"><span>Электрокардиостимуляторы</span></a>
                                        <a href="#" class="catalog__link"><span>Дефибрилляторы</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                         <div class="menu">
                             <div class="menu__wrap">
                                 <div class="menu__box menu__box--has-submenu">
                                     <a href="#" class="menu__item"><span>Решения для ЭФИ операционных</span></a>
                                     <div class="menu__submenu">
                                         <a href="#" class="menu__submenu-item"><span>Навигация и картирование сердца</span></a>
                                         <a href="#" class="menu__submenu-item"><span>ЭФИ системы</span></a>
                                         <a href="#" class="menu__submenu-item"><span>Оборудование для криоаблации</span></a>
                                         <a href="#" class="menu__submenu-item active"><span>РЧ генераторы и помпы</span></a>
                                     </div>
                                 </div>
                                 <div class="menu__box menu__box--has-submenu">
                                     <a href="#" class="menu__item"><span>Расходные материалы</span></a>
                                     <div class="menu__submenu">
                                         <a href="#" class="menu__submenu-item"><span>Навигация и картирование сердца</span></a>
                                         <a href="#" class="menu__submenu-item"><span>ЭФИ системы</span></a>
                                         <a href="#" class="menu__submenu-item"><span>Оборудование для криоаблации</span></a>
                                         <a href="#" class="menu__submenu-item active"><span>РЧ генераторы и помпы</span></a>
                                     </div>
                                 </div>
                                 <div class="menu__box menu__box--has-submenu">
                                     <a href="#" class="menu__item"><span>Имплантируемые устройства</span></a>
                                     <div class="menu__submenu">
                                         <a href="#" class="menu__submenu-item"><span>Навигация и картирование сердца</span></a>
                                         <a href="#" class="menu__submenu-item"><span>ЭФИ системы</span></a>
                                         <a href="#" class="menu__submenu-item"><span>Оборудование для криоаблации</span></a>
                                         <a href="#" class="menu__submenu-item active"><span>РЧ генераторы и помпы</span></a>
                                     </div>
                                 </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>