//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="decor"></div>
        <div class="contacts">
            <div class="contacts__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.763249749657!2d37.452914316149624!3d55.849422992002964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b547f829b1d56b%3A0xfd099aaa8cb9b35b!2z0YPQuy4g0KHQstC-0LHQvtC00YssIDUwINGB0YLRgNC-0LXQvdC40LUgMywg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDEyNTM2NA!5e0!3m2!1sru!2sua!4v1596464297589!5m2!1sru!2sua" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="mbox">
                <div class="contacts__title">Контактная информация</div>
                <div class="contacts__row">
                    <div class="contacts__col">
                        <div class="contacts__item">
                            <span>Адрес: 125364, г. Москва, ул. Свободы, д. 50, стр.3</span>
                        </div>
                        <div class="contacts__item">
                            <span>Тел.:</span>
                            <a href="#"><span>+7 (495) 660 9345</span></a>
                        </div>
                        <div class="contacts__item">
                            <span>Факс:</span>
                            <a href="#"><span>+7 (495) 660 9346</span></a>
                        </div>
                        <div class="contacts__item">
                            <span>Email:</span>
                            <a href="mailto:info@mi-t.ru">info@mi-t.ru</a>
                        </div>
                        <div class="contacts__item">
                            <span>Служба безопасности:</span>
                            <a href="mailto:ess@m-t-i.ru">ess@m-t-i.ru</a>
                        </div>
                    </div>
                    <div class="contacts__col">
                        <div class="contacts__item">
                            <span>Сервисная служба:</span>
                        </div>
                        <div class="contacts__item">
                            <a href="#"><span>+7 (495) 660 9345</span></a>
                        </div>
                    </div>
                    <div class="contacts__col">
                        <div class="contacts__item">
                            <span>Отдел кадров:</span>
                        </div>
                        <div class="contacts__item">
                            <a href="mailto:hr@mi-t.ru">hr@mi-t.ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>