//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text mobile--dn">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li>
                            <a href="/">Главная</a>
                        </li>
                        <li>
                            <a href="action.html">События</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="event">
                            <div class="event__date">03 марта 2020</div>
                            <div class="event__title">Кардиостим 2020</div>
                            <div class="catalog__desc">
                                <p>Есть хорошая традиция. Раз в два года в Санкт-Петербурге, в отеле Park Inn by Radisson «Прибалтийская» проходит крупнейший конгресс для кардиологов, ключевым направлением которого стали все аспекты, связанные с аритмологией.</p>
                            </div>
                            <div class="event__slider">
                                <div class="event__slide">
                                    <img src="./images/event-img.png" alt="">
                                </div>
                                <div class="event__slide">
                                    <img src="./images/event-img.png" alt="">
                                </div>
                                <div class="event__slide">
                                    <img src="./images/event-img.png" alt="">
                                </div>
                                <div class="event__slide">
                                    <img src="./images/event-img.png" alt="">
                                </div>
                                <div class="event__slide">
                                    <img src="./images/event-img.png" alt="">
                                </div>
                                <div class="event__slide">
                                    <img src="./images/event-img.png" alt="">
                                </div>
                            </div>
                            <div class="catalog__desc">
                                <p>В этом году, с 27 по 29 февраля состоялся уже XIV Международный Конгресс по электростимуляции и клинической электрофизиологии сердца «Кардиостим 2020».  На конгресс в очередной раз съехались специалисты кардиологи, аритмологи, кардиохирурги, ученые из России и всего мира.
                                    <br>
                                    Тематика докладов конгресса обширна, в программе проходили симпозиумы посвященные множеству вопросов, связанных с лечением, хирургией, диагностикой нарушения сердечного ритма, мастер-классы мировых производителей электрофизиологического оборудования, имплантируемых устройств.
                                </p>
                                <p>
                                    Во время работы конгресса традиционно прошла выставка медицинского оборудования от ведущих отечественных и крупнейших международных лидеров, таких как Biosence Webster, Boston Scientific, Medtronic, Fillips, Biotronic. Компания «Медицинские технологии и инновации» выступила одним из партнеров этого мероприятия в поддержку сервисной компании «СМТС».
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>