//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="mbox">
            <ul>
                <li><a href="main.html">main</a></li>
                <li><a href="about.html">О компании</a></li>
                <li><a href="catalog.html">catalog</a></li>
                <li><a href="products.html">продукция</a></li>
                <li><a href="product.html">деталка продукта</a></li>
                <li><a href="service.html">сервис</a></li>
                <li><a href="projects.html">Проект</a></li>
                <li><a href="projects-detail.html">Проект-деталка</a></li>
                <li><a href="action.html">Акции</a></li>
                <li><a href="action-catalog.html">Акции-каталог</a></li>
                <li><a href="action-detail.html">Акции-деталка</a></li>
                <li><a href="events.html">События</a></li>
                <li><a href="events-detail.html">Детака события</a></li>
                <li><a href="video.html">Видео</a></li>
                <li><a href="policy.html">Политика компании</a></li>
                <li><a href="anti-corruption.html">Антикоррупционная политика</a></li>
                <li><a href="privacy.html">Политика конфиденциальности</a></li>
                <li><a href="social.html">Социальная ответственность</a></li>
                <li><a href="partners.html">Партнеры</a></li>
                <li><a href="career.html">Карьера</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li><a href="404.html">404</a></li>
            </ul>
            <br>
            <hr>
            <div class="title">
                <h2>содержимое спрайта</h2>
            </div>
            <div class="svg-container"></div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
    <style>
        .svg-container{display: flex;justify-content: space-between; align-items: flex-start; flex-wrap: wrap;border: 1px solid #0f0f11;}
        .svg-container div{width: 200px; padding: 10px; border: 1px solid #0f0f11; flex-grow: 1;}
        .svg-container svg{width: 100%;}
    </style>
    <script>
        $(document).ready(function(){
            $('body>svg symbol').each(function(){
                var id = $(this).attr('id');
                var div = document.createElement('div');
                $(div).html('<svg><use xlink:href="#'+id+'"></use></svg><p>#'+id+'</p>');
                $('.svg-container').append(div);
            });
        });
    </script>
</div>
</body>
</html>