//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <h1 class="banner__title">Социальная ответственность</h1>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="partners">
                            <div class="partners__box">
                                <div class="partners__img">
                                    <img src="./images/partners-img_01.png" alt="">
                                </div>
                                <div class="partners__desc">На протяжении многих лет мы являемся дистрибьютором компании <b>Biosense Webster, Inc</b> – мирового лидера в области разработки и производства оборудования для диагностики и лечения нарушения ритма сердца. </div>
                            </div>
                            <div class="partners__box">
                                <div class="partners__img">
                                    <img src="./images/partners-img_02.png" alt="">
                                </div>
                                <div class="partners__desc"><b>Medtronic</b> – мировой лидер в области медицинских технологий, услуг и решений.
                                    <br><br>
                                    Основные направления работы компании: сердечно-сосудистые заболевания, восстановительная терапия, малоинвазивные методы лечения, лечение диабета. В зоне нашего интереса находится оборудование для проведения криоаблации, имплантируемые устройства, расходные материалы.</div>
                            </div>
                            <div class="partners__box">
                                <div class="partners__img">
                                    <img src="./images/partners-img_03.png" alt="">
                                </div>
                                <div class="partners__desc">
                                    <b>St. Jude Medical</b> – крупнейший американский производитель оборудования по направлениям: аритмология, электрофизиология, кардиохирургия, рентгеноэндоваскулярная хирургия, нейрохирургия, интервенционная кардиология.
                                    <br><br>
                                    Мы поставляем имплантируемые устройства, расходные материалы для электрофизиологии.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="menu">
                            <div class="menu__wrap">
                                <div class="menu__box">
                                    <a href="events.html" class="menu__item"><span>События</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="video.html" class="menu__item"><span>Видео</span></a>
                                </div>
                                <div class="menu__box menu__box--has-submenu">
                                    <a href="policy.html" class="menu__item"><span>Политика компании</span></a>
                                    <div class="menu__submenu">
                                        <a href="anti-corruption.html" class="menu__submenu-item"><span>Антикоррупционная политика</span></a>
                                        <a href="privacy.html" class="menu__submenu-item"><span>Политика конфиденциальности</span></a>
                                    </div>
                                </div>
                                <div class="menu__box">
                                    <a href="social.html" class="menu__item"><span>Социальная ответственность</span></a>
                                </div>
                                <div class="menu__box active">
                                    <a href="partners.html" class="menu__item"><span>Партнеры</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="career.html" class="menu__item"><span>Карьера</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>