//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <h1 class="banner__title">Политика компании</h1>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="catalog__desc">
                            <p>
                            Основная задача нашей компании обеспечивать медицинские учреждения надежным оборудованием и расходными материалами наивысшего качества от лучших мировых производителей.
                            </p>
                        </div>
                        <div class="policy">
                            <div class="policy__offer">
                                <div class="policy__offer-img">
                                    <img src="./images/policy-img.svg" alt="">
                                </div>
                                <div class="policy__offer-item">
                                    <svg>
                                        <use xlink:href="#policy-ico"></use>
                                    </svg>
                                    <span>Качество</span>
                                </div>
                                <div class="policy__offer-item">
                                    <svg>
                                        <use xlink:href="#policy-ico"></use>
                                    </svg>
                                    <span>Открытость</span>
                                </div>
                                <div class="policy__offer-item">
                                    <svg>
                                        <use xlink:href="#policy-ico"></use>
                                    </svg>
                                    <span>Надежность</span>
                                </div>
                                <div class="policy__offer-item">
                                    <svg>
                                        <use xlink:href="#policy-ico"></use>
                                    </svg>
                                    <span>Экспертность</span>
                                </div>
                            </div>
                            <div class="catalog__desc">
                                <p>
                                    Наш опыт и постоянное развитие в области аритмологии позволяет быть экспертами даже в незначительных деталях.
                                </p>
                                <p>
                                    Мы постоянно взаимодействуем с медицинскими учреждениями, знаем и понимаем потребности врачей и все наши проекты направлены на повышение эффективности проведения операций и лечения пациентов.
                                </p>
                                <p>
                                    Мы действуем честно и открыто взаимодействуем с нашими партнерами и клиентами. Мы ценим надежность и сами прикладываем максимальные усилия для исполнения взятых на себя обязательств.
                                </p>
                            </div>
                            <div class="policy__links">
                                <a href="#">Антикоррупционная политика</a>
                                <a href="#">Политика конфиденциальности</a>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="menu">
                            <div class="menu__wrap">
                                <div class="menu__box">
                                    <a href="events.html" class="menu__item"><span>События</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="video.html" class="menu__item"><span>Видео</span></a>
                                </div>
                                <div class="menu__box menu__box--has-submenu active">
                                    <a href="policy.html" class="menu__item"><span>Политика компании</span></a>
                                    <div class="menu__submenu">
                                        <a href="anti-corruption.html" class="menu__submenu-item"><span>Антикоррупционная политика</span></a>
                                        <a href="privacy.html" class="menu__submenu-item"><span>Политика конфиденциальности</span></a>
                                    </div>
                                </div>
                                <div class="menu__box">
                                    <a href="social.html" class="menu__item"><span>Социальная ответственность</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="partners.html" class="menu__item"><span>Партнеры</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="career.html" class="menu__item"><span>Карьера</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>