//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li>
                            <a href="/">Главная</a>
                        </li>
                        <li>
                            <a href="policy.html">Политика компании</a>
                        </li>
                    </ul>
                </div>
                <h1 class="banner__title">Политика конфиденциальности</h1>
                <a href="#" class="banner__pdf">
                    <svg>
                        <use xlink:href="#pdf-ico"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="privacy">
                            <div class="catalog__desc">
                                <p>
                                    Компания ООО «Медицинские технологии и инновации» с большим вниманием относится к защите персональных данных.
                                </p>
                            </div>
                            <div class="catalog__video catalog__video--border">
                                <div class="catalog__video-img">
                                    <img src="./images/private-policy-img.png" alt="">
                                </div>
                                <div class="catalog__video-right">
                                    <div class="catalog__video-desc">
                                        Наша Политика конфиденциальности устанавливает правила использования персональной информации, которую компания получает:
                                    </div>
                                    <div class="service__offer-box">
                                        <div class="service__offer-item">
                                            <div class="service__offer-ico">
                                                <svg>
                                                    <use xlink:href="#service-gal-ico"></use>
                                                </svg>
                                            </div>
                                            <div class="service__offer-text">через все интернет-ресурсы</div>
                                        </div>
                                        <div class="service__offer-item">
                                            <div class="service__offer-ico">
                                                <svg>
                                                    <use xlink:href="#service-gal-ico"></use>
                                                </svg>
                                            </div>
                                            <div class="service__offer-text">через «офлайн-каналы» в связи с продажами, маркетинговой деятельностью, логистикой</div>
                                        </div>
                                        <div class="service__offer-item">
                                            <div class="service__offer-ico">
                                                <svg>
                                                    <use xlink:href="#service-gal-ico"></use>
                                                </svg>
                                            </div>
                                            <div class="service__offer-text">через любые сторонние источники (рекламные, аналитические источники, справочная информация и пр.).</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__desc">
                                Политика конфиденциальности компании определяет варианты использования персональных данных, лица, которым можно их передавать, меры, которые принимаются для их защиты.
                            </div>
                            <div class="catalog__pdf">
                                <a href="#" class="catalog__pdf-link">
                                    <svg>
                                        <use xlink:href="#pdf-ico"></use>
                                    </svg>
                                </a>
                                <div class="catalog__pdf-desc">
                                    Для получения подробной информации о принципах обеспечения конфиденциальности третьих сторон, ознакомьтесь с нашей <a href="#">политикой конфиденциальности</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="menu">
                            <div class="menu__wrap">
                                <div class="menu__box">
                                    <a href="events.html" class="menu__item"><span>События</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="video.html" class="menu__item"><span>Видео</span></a>
                                </div>
                                <div class="menu__box menu__box--has-submenu active">
                                    <a href="policy.html" class="menu__item"><span>Политика компании</span></a>
                                    <div class="menu__submenu">
                                        <a href="anti-corruption.html" class="menu__submenu-item"><span>Антикоррупционная политика</span></a>
                                        <a href="privacy.html" class="menu__submenu-item active"><span>Политика конфиденциальности</span></a>
                                    </div>
                                </div>
                                <div class="menu__box">
                                    <a href="social.html" class="menu__item"><span>Социальная ответственность</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="partners.html" class="menu__item"><span>Партнеры</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="career.html" class="menu__item"><span>Карьера</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>