//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner mobile--dn">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li>
                            <a href="/" title="Ювелирные изделия Mono">Главная</a>
                        </li>s
                        <li>
                            <a href="catalog.html" title="Серьги">Каталог продукции</a>
                        </li>
                        <li>
                            <a href="products.html" title="Серьги">РЧ генераторы и помпы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="product">
                            <h1 class="product__title">Maestro 4000™ Cardiac Ablation Generator</h1>
                            <div class="product__tabs">
                                <div class="product__tab">
                                    <a href="#tab-1" class="active">Особенности</a>
                                    <a href="#tab-2">Производитель</a>
                                </div>
                                <div class="product__content-wrap">
                                    <div class="product__content-inner">
                                        <div id="tab-1" class="product__content active">
                                            <div class="product__info">Катетеры HALO от компании Biosence Webster имеют специальную форму, которая дает возможность позиционирования вокруг трикуспидального клапана сердца и позволяет проводить диагностику трепетания предсердий, анализ блока кавотрикуспидального истмуса. Катетеры позволяют получить точные результаты  диагностики при мимикрии фокусной тахикардии под реентри. Эти катетеры удобны при диагностике трепетания предсердий у детей. Катетеры HALO оснащены 20 электродами, имеют диаметр 7F.
                                            </div>
                                        </div>
                                        <div id="tab-2" class="product__content">
                                            <div class="product__maker">
                                                <div class="product__maker-img">
                                                    <img src="./images/products-maker_01.png" alt="">
                                                </div>
                                                <div class="product__maker-info">На протяжении многих лет мы являемся дистрибьютором компании Biosense Webster, Inc – мирового лидера в области разработки и производства оборудования для диагностики и лечения нарушения ритма сердца.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product__content-img-wrap">
                                        <div class="product__content-img">
                                            <img src="./images/products-img_02.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="menu">
                            <div class="menu__wrap">
                                <div class="menu__box menu__box--has-submenu active">
                                    <a href="#" class="menu__item"><span>Решения для ЭФИ операционных</span></a>
                                    <div class="menu__submenu">
                                        <a href="#" class="menu__submenu-item"><span>Навигация и картирование сердца</span></a>
                                        <a href="#" class="menu__submenu-item"><span>ЭФИ системы</span></a>
                                        <a href="#" class="menu__submenu-item"><span>Оборудование для криоаблации</span></a>
                                        <a href="#" class="menu__submenu-item active"><span>РЧ генераторы и помпы</span></a>
                                    </div>
                                </div>
                                <div class="menu__box menu__box--has-submenu">
                                    <a href="#" class="menu__item"><span>Расходные материалы</span></a>
                                    <div class="menu__submenu">
                                        <a href="#" class="menu__submenu-item"><span>Навигация и картирование сердца</span></a>
                                        <a href="#" class="menu__submenu-item"><span>ЭФИ системы</span></a>
                                        <a href="#" class="menu__submenu-item"><span>Оборудование для криоаблации</span></a>
                                        <a href="#" class="menu__submenu-item active"><span>РЧ генераторы и помпы</span></a>
                                    </div>
                                </div>
                                <div class="menu__box menu__box--has-submenu">
                                    <a href="#" class="menu__item"><span>Имплантируемые устройства</span></a>
                                    <div class="menu__submenu">
                                        <a href="#" class="menu__submenu-item"><span>Навигация и картирование сердца</span></a>
                                        <a href="#" class="menu__submenu-item"><span>ЭФИ системы</span></a>
                                        <a href="#" class="menu__submenu-item"><span>Оборудование для криоаблации</span></a>
                                        <a href="#" class="menu__submenu-item active"><span>РЧ генераторы и помпы</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>