//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li>
                            <a href="/" title="Ювелирные изделия Mono">Главная</a>
                        </li>
                        <li>
                            <a href="catalog.html" title="Серьги">Каталог продукции</a>
                        </li>
                    </ul>
                </div>
                <h1 class="banner__title">РЧ генераторы и помпы</h1>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="catalog__desc">
                            <p>Мы осуществляем комплексное оснащение операционных, в которых проводится диагностика и лечение нарушений сердечного ритма.</p>
                            <p>  В каталоге представлены системы навигации и картирования, ЭФИ системы, имплантируемые устройства, полный спектр расходных материалов.</p>
                        </div>
                        <div class="catalog__inner">
                            <a href="#" class="catalog__box">
                                <div class="catalog__img">
                                    <img src="./images/products-img_01.png" alt="">
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__heading">SmartAblate™ System  </div>
                                </div>
                            </a>
                            <a href="#" class="catalog__box">
                                <div class="catalog__img">
                                    <img src="./images/products-img_02.png" alt="">
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__heading">Maestro 4000™ Cardiac Ablation Generator</div>
                                </div>
                            </a>
                            <a href="#" class="catalog__box">
                                <div class="catalog__img">
                                    <img src="./images/products-img_03.png" alt="">
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__heading">METRIQ™ Pump</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="menu">
                            <div class="menu__wrap">
                                <div class="menu__box menu__box--has-submenu active">
                                    <a href="#" class="menu__item"><span>Решения для ЭФИ операционных</span></a>
                                    <div class="menu__submenu">
                                        <a href="#" class="menu__submenu-item"><span>Навигация и картирование сердца</span></a>
                                        <a href="#" class="menu__submenu-item"><span>ЭФИ системы</span></a>
                                        <a href="#" class="menu__submenu-item"><span>Оборудование для криоаблации</span></a>
                                        <a href="#" class="menu__submenu-item active"><span>РЧ генераторы и помпы</span></a>
                                    </div>
                                </div>
                                <div class="menu__box menu__box--has-submenu">
                                    <a href="#" class="menu__item"><span>Расходные материалы</span></a>
                                    <div class="menu__submenu">
                                        <a href="#" class="menu__submenu-item"><span>Навигация и картирование сердца</span></a>
                                        <a href="#" class="menu__submenu-item"><span>ЭФИ системы</span></a>
                                        <a href="#" class="menu__submenu-item"><span>Оборудование для криоаблации</span></a>
                                        <a href="#" class="menu__submenu-item active"><span>РЧ генераторы и помпы</span></a>
                                    </div>
                                </div>
                                <div class="menu__box menu__box--has-submenu">
                                    <a href="#" class="menu__item"><span>Имплантируемые устройства</span></a>
                                    <div class="menu__submenu">
                                        <a href="#" class="menu__submenu-item"><span>Навигация и картирование сердца</span></a>
                                        <a href="#" class="menu__submenu-item"><span>ЭФИ системы</span></a>
                                        <a href="#" class="menu__submenu-item"><span>Оборудование для криоаблации</span></a>
                                        <a href="#" class="menu__submenu-item active"><span>РЧ генераторы и помпы</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>