//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <h1 class="banner__title">Проекты</h1>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog catalog--full-width">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="catalog__desc">Наша компания принимает участие в разработках и совершенствовании медицинского оборудования, внедрении новых технологий в клиническую практику инвазивной кардиологии, и развитии других различных проектов в лечении сердца и сосудов
                        </div>
                        <div class="catalog__inner">
                            <div class="catalog__box">
                                <div class="catalog__img">
                                    <img src="./images/projects-img_01.png" alt="">
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__heading">Лазерная аблация</div>
                                    <div class="catalog__subheading">Инновационный метод лечения нарушений сердечного ритма при помощи лазерных технологий
                                    </div>
                                    <div class="catalog__links">
                                        <a href="#" class="catalog__link"><span>Подробнее</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">

                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>