//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner mobile--dn">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li>
                            <a href="/" title="Ювелирные изделия Mono">Главная</a>
                        </li>
                        <li>
                            <a href="projects.html" title="Серьги">Проекты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <h1 class="product__title">Лазерная аблация</h1>
                        <div class="catalog__desc">
                            <p>Инновационный метод лечения нарушений сердечного ритма при помощи лазерных технологий</p>
                            <p>Аблация, или повреждение патологических аритмогенных участков проводящей системы сердца – это малоинвазивное катетерное хирургическое вмешательство, пришедшее на смену операциям на открытом сердце при лечении аритмий.
                                <br>
                                В настоящее время в клинической практике применяются два основных метода аблации: радиочастотная (РЧА) и крио баллонная (КРИО). Оба этих метода хорошо зарекомендовали себя, имеют массовое применение, являются достаточно безопасными для лечения нарушений сердечного ритма.
                            </p>
                        </div>
                        <div class="catalog__video">
                            <div class="catalog__video-img">
                                <img src="./images/projects-img_02.png" alt="">
                                <a href="https://www.youtube.com/watch?v=COamF_DFKLw" data-fancybox class="catalog__video-play">
                                    <svg>
                                        <use xlink:href="#play-ico"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="catalog__video-right">
                                <div class="catalog__video-desc">Лазерная катетерная аблация в хирургической аритмологии. Новая методика. Состояние. Перспективы</div>
                            </div>
                        </div>
                        <div class="catalog__desc">
                            <p>В настоящее время наша компания совместно с партнёрами проводит работу по клиническому внедрению нового метода лазерной аблации в практику хирургического лечения аритмий. Вмешательство проводится эндоваскулярно специализированным лазерным катетером. Лазерный пучок подаётся на эндокард от лазерного источника со специальными техническими параметрами через оптоволоконный световод внутри катетера.</p>
                            <p>Направленный энергетический лазерный пучок создаёт контролируемые термические повреждения аритмогенных узлов.</p>
                            <p>Этот инновационный метод имеет ряд преимуществ по сравнению с РЧА и КРИО. Помимо ускорения процедуры аблации, лазерное воздействие позволяет создавать более глубокие некрозы в патологических зонах, что практически исключает рецидивы аритмии. Больший диаметр повреждения от одиночной экспозиции, по сравнению с РЧА и КРИО, позволяет выполнять гораздо меньшее число воздействий на эндокард. Кончик катетера при этом не нагревается, что позволяет избежать образования пристеночных тромбов.
                                <br>
                                Наша компания совместно с партнерами разрабатывает и внедряет данный метод.</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="right__img">
                            <img src="./images/projects-img_01.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>