//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <h1 class="banner__title">Сервис</h1>
            </div>
        </div>
        <div class="decor"></div>
        <div class="service">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="service__img-wrap">
                            <div class="service__desc">
                                <p>Сервисное подразделение нашей компании осуществляет комплексную техническую поддержку всех проектов по оснащению медицинских учреждений оборудованием для ЭФИ и рентгенохирургических операционных.</p>
                                <p>Обслуживание оборудования осуществляют опытные сертифицированные инженеры.</p>
                            </div>
                            <div class="service__img">
                                <img src="./images/service-img_01.png" alt="">
                            </div>
                        </div>
                        <div class="service__offer">
                            <div class="service__offer-title">Мы предлагаем</div>
                            <div class="service__offer-box">
                                <div class="service__offer-item">
                                    <div class="service__offer-ico">
                                        <svg>
                                            <use xlink:href="#service-gal-ico"></use>
                                        </svg>
                                    </div>
                                    <div class="service__offer-text">диагностику и ремонт оборудования</div>
                                </div>
                                <div class="service__offer-item">
                                    <div class="service__offer-ico">
                                        <svg>
                                            <use xlink:href="#service-gal-ico"></use>
                                        </svg>
                                    </div>
                                    <div class="service__offer-text">инсталляцию, ввод оборудования в эксплуатацию</div>
                                </div>
                                <div class="service__offer-item">
                                    <div class="service__offer-ico">
                                        <svg>
                                            <use xlink:href="#service-gal-ico"></use>
                                        </svg>
                                    </div>
                                    <div class="service__offer-text">техподдержку, гарантийное и постгарантийное обслуживание</div>
                                </div>
                                <div class="service__offer-item">
                                    <div class="service__offer-ico">
                                        <svg>
                                            <use xlink:href="#service-gal-ico"></use>
                                        </svg>
                                    </div>
                                    <div class="service__offer-text">выезд специалистов по всей России</div>
                                </div>
                                <div class="service__offer-item">
                                    <div class="service__offer-ico">
                                        <svg>
                                            <use xlink:href="#service-gal-ico"></use>
                                        </svg>
                                    </div>
                                    <div class="service__offer-text">различные варианты сервисных контрактов с возможностью частичного или полного возмещения стоимости запасных частей.</div>
                                </div>
                            </div>
                        </div>
                        <div class="service__contact">
                            <div class="service__contact-title">Вы можете обратиться в сервисную службу по телефону: </div>
                            <a href="#" class="service__contact-phone">+7 (495) 660-93-45</a>
                            <div class="service__contact-title">Или отправить заявку на ремонтные работы по адресу:</div>
                            <a href="#" class="service__contact-email">service@m-t-i.ru</a>
                        </div>
                    </div>
                    <div class="right">
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>