//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <h1 class="banner__title">Социальная ответственность</h1>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="privacy">
                            <div class="catalog__desc">
                                <p>
                                    Одним из приоритетов нашей работы является социальная ответственность, прежде всего перед пациентами с нарушениями ритма сердца, перед врачами кардиологами-аритмологами.
                                </p>
                            </div>
                            <div class="catalog__video catalog__video--border">
                                <div class="catalog__video-img">
                                    <img src="./images/social-img.png" alt="">
                                </div>
                                <div class="catalog__video-right">
                                    <div class="catalog__video-desc">
                                        Мы стремимся к тому, чтобы в конечном итоге результатом нашей деятельности было повышение качества жизни и улучшение здоровья людей.
                                        <br>
                                        Наша компания оказывает поддержку не только значимым событиям, мероприятиям в области кардиологии, но и различным научным проектам в  медицине.
                                        <br><br>
                                        Мы активно участвуем в разработке новых технологий и развитии инновационных проектов.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="menu">
                            <div class="menu__wrap">
                                <div class="menu__box">
                                    <a href="events.html" class="menu__item"><span>События</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="video.html" class="menu__item"><span>Видео</span></a>
                                </div>
                                <div class="menu__box menu__box--has-submenu">
                                    <a href="policy.html" class="menu__item"><span>Политика компании</span></a>
                                    <div class="menu__submenu">
                                        <a href="anti-corruption.html" class="menu__submenu-item"><span>Антикоррупционная политика</span></a>
                                        <a href="privacy.html" class="menu__submenu-item"><span>Политика конфиденциальности</span></a>
                                    </div>
                                </div>
                                <div class="menu__box active">
                                    <a href="social.html" class="menu__item"><span>Социальная ответственность</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="partners.html" class="menu__item"><span>Партнеры</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="career.html" class="menu__item"><span>Карьера</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>