//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="banner">
            <img src="./images/banner-back.png" alt="">
            <div class="banner__text">
                <h1 class="banner__title">Видео</h1>
            </div>
        </div>
        <div class="decor"></div>
        <div class="catalog">
            <div class="mbox">
                <div class="content">
                    <div class="left">
                        <div class="catalog__inner">
                            <div class="catalog__box catalog__box--video catalog__box--big">
                                <div class="catalog__video-img">
                                    <img src="./images/video-img_01.png" alt="">
                                    <a href="https://www.youtube.com/watch?v=COamF_DFKLw" data-fancybox class="catalog__video-play">
                                        <svg>
                                            <use xlink:href="#play-ico"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__box-date">03 марта 2020</div>
                                    <div class="catalog__heading">«Известия»: цены
                                        на жилье в России могут вырасти на четверть</div>
                                </div>
                            </div>
                            <div class="catalog__box catalog__box--video">
                                <div class="catalog__video-img">
                                    <img src="./images/events-img_01.png" alt="">
                                    <a href="https://www.youtube.com/watch?v=COamF_DFKLw" data-fancybox class="catalog__video-play">
                                        <svg>
                                            <use xlink:href="#play-ico"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__box-date">03 марта 2020</div>
                                    <div class="catalog__heading">«Известия»: цены на жилье в России могут вырасти на четверть</div>
                                </div>
                            </div>
                            <div class="catalog__box catalog__box--video">
                                <div class="catalog__video-img">
                                    <img src="./images/events-img_02.png" alt="">
                                    <a href="https://www.youtube.com/watch?v=COamF_DFKLw" data-fancybox class="catalog__video-play">
                                        <svg>
                                            <use xlink:href="#play-ico"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__box-date">03 марта 2020</div>
                                    <div class="catalog__heading">Турция в 2019 году сократила закупки газа у «Газпрома» на 40%</div>
                                </div>
                            </div>
                            <div class="catalog__box catalog__box--video">
                                <div class="catalog__video-img">
                                    <img src="./images/events-img_03.png" alt="">
                                    <a href="https://www.youtube.com/watch?v=COamF_DFKLw" data-fancybox class="catalog__video-play">
                                        <svg>
                                            <use xlink:href="#play-ico"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__box-date">03 марта 2020</div>
                                    <div class="catalog__heading">Белоруссия назвала потери из-за налогового манёвра России</div>
                                </div>
                            </div>
                            <div class="catalog__box catalog__box--video">
                                <div class="catalog__video-img">
                                    <img src="./images/events-img_04.png" alt="">
                                    <a href="https://www.youtube.com/watch?v=COamF_DFKLw" data-fancybox class="catalog__video-play">
                                        <svg>
                                            <use xlink:href="#play-ico"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="catalog__col">
                                    <div class="catalog__box-date">03 марта 2020</div>
                                    <div class="catalog__heading">«Известия»: цены на жилье в России могут вырасти на четверть</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="menu">
                            <div class="menu__wrap">
                                <div class="menu__box">
                                    <a href="events.html" class="menu__item"><span>События</span></a>
                                </div>
                                <div class="menu__box active">
                                    <a href="video.html" class="menu__item"><span>Видео</span></a>
                                </div>
                                <div class="menu__box menu__box--has-submenu">
                                    <a href="policy.html" class="menu__item"><span>Политика компании</span></a>
                                    <div class="menu__submenu">
                                        <a href="anti-corruption.html" class="menu__submenu-item"><span>Антикоррупционная политика</span></a>
                                        <a href="privacy.html" class="menu__submenu-item"><span>Политика конфиденциальности</span></a>
                                    </div>
                                </div>
                                <div class="menu__box">
                                    <a href="social.html" class="menu__item"><span>Социальная ответственность</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="partners.html" class="menu__item"><span>Партнеры</span></a>
                                </div>
                                <div class="menu__box">
                                    <a href="career.html" class="menu__item"><span>Карьера</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>