/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;overflow-x:hidden;
    &.mobmenu {
        overflow:hidden;
        body {overflow:hidden;}
        header {
            &:before {
                content:'';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image:url("../images/mobmenu-back.svg");
                background-color: #143B6E;
                background-size: cover;
                background-repeat:no-repeat;
                z-index: 6;
            }
        }
    }
}
body{min-height:100%;  height: 100%;width:100%;min-width:320px;font-family: 'Manrope', sans-serif;background:#fff;color:#000;position:relative;font-size: 16px;line-height: 1.25;overflow-x:hidden;}
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:1455px;width:100%;margin:0 auto;position:relative;z-index:1;padding:0 20px;}
.global-wrapper{display: flex; flex-direction: column; min-height: 100%;
    position: relative;
    &--blue {background-color: #143B6E;}
}
footer {flex-grow: 0;  flex-shrink: 0;  flex-basis: auto; }
.main{flex-grow: 1; flex-shrink: 0; flex-basis: auto;}
input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);

.header {
    position: relative;
    z-index: 6;
    background-color: #184B88;
    &--transparent {
        background-color: transparent;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &.search-opened {
            .header {
                &__logo {
                    opacity: 0;
                }
                &__nav {
                    opacity: 0;
                }
                &__phone {
                    opacity: 0;
                }
                &__search {
                    &-input {
                        opacity: 1;
                        pointer-events:all;
                    }
                    &-btn {
                        &.js-search {
                            position: relative;
                            svg {
                                opacity: 0;}
                            &:before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    &__logo {
        width: 18%;
        transition: opacity .3s;
        svg {
            width: 117px;
            height: 41px;}
    }
    &__nav {
        transition: opacity .3s;
        width: 64%;
        display: flex;
        justify-content: center;
        a {color:#fff;text-decoration: none;}
        &-item {
            position: relative;
            margin: 0 5px;
            &> a {
                font-size: 20px;
                line-height: 1.456;
                position: relative;
                padding: 35px 19px;
                display: inline-block;
                transition: .3s;
            }
            &:before {
                content:'';
                position: absolute;
                top: 25px;
                left: 0;
                right: 0;
                bottom: 25px;
                background-color: #fff;
                border-radius: 25px;
                transition:opacity .3s;
                opacity: 0;
            }
            &--has-child {
                &> a {padding: 35px 34px 22px 24px;
                    &:before {
                        position: absolute;content:'';
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid #fff;
                        top: 50%;
                        right: 18px;
                        transform:translateY(125%);
                        transition:border-top-color .3s;
                        z-index: 1;
                    }
                }
                &:hover {
                    &> a {
                        background-color: #fff;
                        color:#002C5D;
                        &:before {
                            border-top-color:#094A92;
                        }
                    }
                }
                &:before {
                    display: none;
                }

            }
            &:hover {
                &> a {
                    color:#002C5D;
                }
                &:before {
                    opacity: .5;
                }
                .header {
                    &__submenu {
                        opacity: 1;
                        pointer-events:all;
                    }
                }
            }
            &--action {
                position: relative;
                &> a {color:#002C5D;}
                &:before {
                    content:'';
                    position: absolute;
                    top: 25px;
                    left: 0;
                    right: 0;
                    bottom: 25px;
                    background-color: #fff;
                    border-radius: 25px;
                    transition:opacity .3s;
                    opacity: 1;
                }
                &:hover {
                    &> a {
                        background-color: transparent;}
                    &:before {
                        opacity: .5;
                    }
                }
            }
        }
    }
    &__submenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(100% - 13px);
        opacity: 0;
        pointer-events:none;
        padding: 21px 24px;
        background-color: #fff;
        border-radius:0 20px 20px 20px;
        transition:opacity .3s;
        a {
            font-size: 18px;
            line-height: 2.34;
            color:#002C5D;
            white-space:nowrap;
            letter-spacing:.02em;
            &:hover {
                text-decoration: underline;
            }
        }
        }
    &__right {
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: flex-end;}
    &__phone {
        transition: opacity .3s;
        font-size: 20px;
        line-height: 1.456;
        color:#fff;
        text-decoration: none;}
    &__search {
        margin-left: 32px;
        svg {
            width: 23px;
            height: 23px;
            transition: opacity .3s;
        }
        &-btn {
            cursor:pointer;
            border:none;
            background-color: transparent;
            padding: 0;
            &.js-search {
                position: relative;
                &:before {
                    content:'';
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    background-image: url("../images/close-ico.svg");
                    background-size:contain;
                    display: block;
                    left: -2px;
                    transition: opacity .3s;
                    opacity: 0;
                }
            }
        }
        &-input {
            opacity: 0;
            transition: opacity .3s;
            pointer-events:none;
            position: absolute;
            left: 0;
            right: 50px;
            top: 26px;
            bottom: 26px;
            display: flex;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius:66px;
            padding:  0 20px;
            input {
                background-color: transparent;
                border:none;
                width: 100%;
                font-size: 18px;
                color: #ffffff;
                &::placeholder {color:#fff;}
            }
        }
    }
    &__mobmenu {
        display: none;
    }
}
.footer {
    position: relative;
    background-color: #F3F6FA;
    padding: 90px 0;
    margin-top: 150px;
    &--transparent {
        margin-top: 0;
        background-color: transparent;
        padding:25px 0 31px;
        border-top:1px solid rgba(255,255,255, .05);
        color:#fff;
        .footer {
            &__link {
                color:#fff;
                opacity: .5;
                &:hover {
                    opacity: 1;
                }
            }
            &__socials {
                svg {
                    fill:#fff;
                }
            }
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    &__col {
        display: flex;
        align-items: center;
    }
    &__copyright {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        letter-spacing: .06em;
        text-transform: uppercase;
        opacity: .5;

    }
    &__link {
        color: #8D939E;
        text-decoration: none;
        letter-spacing: .06em;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 25px;
        transition:opacity .3s;
        &:hover {
            opacity: .5;
        }
    }
    &__socials {
        display: flex;
        margin:0 -5px 0 10px;
    }
    &__social {
        margin: 0 5px;
        svg {
            width: 41px;
            height: 41px;
            opacity: .5;
            fill:#8D939E;
            transition:opacity .3s;
        }
        &:hover {
            svg {
                opacity: 1;}
        }
    }
}
.circle {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, .05);
    border-radius:50%;
    pointer-events:none;
    &--big {
        width: 1766px;
        height: 1766px;
        left: calc(50% - 1766px/2 - 4px);
        top: -545px;
    }
    &--small {
        width: 1266px;
        height: 1266px;
        left: calc(50% - 1266px/2 - 4px);
        top: -294px;
    }
    &--main {
        width: 736px;
        height: 736px;
        left: calc(50% - 736px/2 - 4px);
        top: calc(50% - 20px);
        transform:translateY(-50%);
        border-color: rgba(255, 255, 255, .1);;
        z-index: 4;
        a {
            pointer-events:all;
            position: absolute;
            display: inline-block;
            width: 72px;
            height: 72px;
            border:1px solid rgba(255, 255, 255, .1);
            border-radius:50%;
            left: 50%;
            bottom: 0;
            transform:translate(-50%, 50%);
            &:before {
                content:'';
                position: absolute;
                display: inline-block;
                width: 32px;
                height: 32px;
                background-color: #fff;
                border-radius:50%;
                top: 50%;
                left: 50%;
                transform:translate(-50%, -50%);
                transition:width .3s, height .3s;
            }
            &:after {
                content:'';
                position: absolute;
                width: 0;
                height: 0;
                display: inline-block;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #2B72C0;
                top: 50%;
                left: 50%;
                transform:translate(-50%, -50%);
            }
            &:hover {
                &:before {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.background {
    background: radial-gradient(50% 50% at 50% 50%, #4996EB 0%, rgba(9, 74, 146, 0) 100%);
    width: 1816px;
    height: 1816px;
    position: absolute;
    max-width:100%;
    max-height:100vw;
    left: calc(50% - 2px);
    transform:translate(-50%, -70%);
    top: 50%;
}
.vector {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    &__svg {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        svg {
            max-width:1418px;
            max-height:756px;
            width: 100%;
            height: 100%;
        }
    }
    &__title {
        max-width: 377px;
        font-size: 48px;
        line-height: 59px;
        letter-spacing: -.02em;
        font-family: 'Montserrat', sans-serif;
        color:#fff;
        position: absolute;
        left: 18px;
        top: calc(50% - 56px);
        transform: translateY(-50%);
    }
    &__info {
        max-width: 345px;
        position: absolute;
        right: 33px;
        bottom: 0;
        span {
            font-size: 18px;
            line-height: 1.451;
            letter-spacing: .02em;
            color:#fff;
            margin-bottom: 20px;
            display: block;
        }
    }
    &__text {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events:none;
        .mbox {
            height: 100%;}
    }
}
.line {
    &-hover {
        opacity: .2;}
}
.btn {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 2.54;
    letter-spacing: .06em;
    text-transform: uppercase;
    border-radius:50px;
    padding: 9px 15px 8px;
    text-decoration: none;
    border:none;
    display: inline-block;
    min-width:200px;
    text-align: center;
    transition: opacity .3s, background-color .3s, color .3s;
    pointer-events:all;
    &--white {
        color:#094A92;
        background-color: #fff;
        &:hover {
            opacity: .5;}
    }
    &--border {
        border:1.5px solid #2B72C0;
        color:#094A92;
        min-width:250px;
        &:hover {
            background-color: #2B72C0;
            color:#fff;
        }
    }
}
.main {
    &__service {
        display: flex;
        justify-content: space-between;
        margin: 114px -15px 80px;
        &-item {
            text-decoration: none;
            width: 33.33%;
            margin: 0 15px;
            display: flex;
            align-items: center;
            img {
                padding: 19px;
                width: 79px;
                height: 79px;
                object-fit:contain;
            }
            span {
                font-size: 36px;
                line-height: 1.22;
                letter-spacing: -.02em;
                color:#fff;
                font-family: 'Montserrat', sans-serif;
                margin-left: 24px;
            }
        }
        &-img {
            border:2px solid #fff;
            border-radius:50%;
        }
    }
}
.events {
    margin-bottom: 46px;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        h2 {
            font-weight: 400;
            margin: 5px 0;
            font-size: 36px;
            line-height: 1.222;
            letter-spacing: -.02em;
            color:#fff;
            font-family: 'Montserrat', sans-serif;
        }
    }
    &__btn {
        color:#fff;
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.23;
        text-transform: uppercase;
        border-radius:50px;
        border:1.5px solid #fff;
        padding: 12px;
        min-width:162px;
        text-align: center;
        transition: background-color .3s, color .3s;
        &:hover {
            background-color: #fff;
            color:#094A92;
        }
    }
    &__row {
        display: flex;
        flex-wrap:wrap;
        margin: 21px -30px;
    }
    &__item {
        width: calc(33.33% - 60px);
        margin: 0 30px 30px;
        color:#fff;
        text-decoration: none;
        &:hover {
            .events {
                &__desc {
                    text-decoration: underline;
                }
            }
        }
    }
    &__time {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: .06em;
        text-transform: uppercase;
        opacity: .5;
        margin-bottom: 13px;
    }
    &__desc {
        font-size: 24px;
        line-height: 1.45;
        letter-spacing: .02em;
    }
    &__more {
        margin-top: 58px;
    }
}
.event {
    &__date {
        font-size: 20px;
        line-height: 1.451;
        letter-spacing: .02em;
        color:#4A5261;
    }
    &__title {
        font-size: 60px;
        line-height: 1.216;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: -.02em;
        font-weight: 400;
        margin: 5px 0 30px;
    }
    &__slider {
        margin-bottom: 80px;
        .slick-dots {
            bottom: -45px;
            margin: 0;
        }
        .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 7px;
        }
        .slick-dots li button:before {
            content:'';
            width: 10px;
            height: 10px;
            background-color: #8D939E;
            border-radius: 50%;
            opacity: .5;
            transition: background-color .3s, opacity .3s;
        }
        .slick-dots li.slick-active button:before {
            opacity: 1;
            background-color: #2B72C0;
        }
        .slick-next, .slick-prev {
            min-height:20px;
        }
        .slick-next {
            right: -35px;
        }
        .slick-prev {
            left: -35px;
        }
        .slick-next:before, .slick-prev:before {
            content:'';
            font-size: 0;
            width: 19px;
            height: 19px;
            border-bottom: 3px solid #2B72C0;
            border-right: 3px solid #2B72C0;
            transform: rotate(-45deg);
            opacity: 1;
            display: block;
        }
        .slick-prev:before {
            transform:rotate(135deg);
        }
    }
    &__slide {
        border-radius:20px;
        overflow:hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }
}
.mobmenu {

}
.svg {
    &-line {
        cursor:pointer;
        &--hover {
            stroke-dashoffset: -100%;
            stroke-dasharray: 100%;
            transition: all .4s;
            &.show {
                stroke-dashoffset: 0;

            }
        }
        &--reverse {
            stroke-dashoffset: 100%;
            stroke-dasharray: 100%;
            transition: all .8s;
            &.show {
                stroke-dashoffset: 0;

            }
        }
    }
    &-background {
        opacity: 0;
        transition: opacity .5s;
        cursor:pointer;
        &.show {
            opacity: 1;
        }
    }
    &-img {
        cursor:pointer;
        pointer-events:none;
        opacity: 0;
        transition: opacity .5s;
        &.show {
            opacity: 1;
        }
    }
    &-circle {
        cursor:pointer;
        &-oval {
            fill:none;
            stroke:#fff;
            stroke-width:3px;
            transition:all .8s;
        }
        &.show {
            .svg-circle {
                &-oval {
                    fill:#fff;
                    stroke-width: 0;
                }
            }
        }
    }
    &-title {
        cursor:pointer;
        stroke: transparent;
        stroke-width:9px;
    }
}
.banner {
    position: relative;
    img {}
    &__text {
        position: absolute;
        width: 100%;
        max-width: 1455px;
        padding: 0 20px;
        left: 50%;
        transform:translateX(-50%);
        bottom: 20%;
    }
    &__title {
        margin: 0;
        font-size: 66px;
        line-height: 80px;
        letter-spacing: -.02em;
        color:#fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    &__pdf {
        position: absolute;
        bottom: 5%;
        right: 20px;
        width: 68px;
        height: 68px;
        background-color: #fff;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border:2px solid #fff;
        transition: background-color .3s;
        svg {
            width: 28px;
            height: 34px;
            fill:#2B72C0;
            transition: .3s;
        }
        &:hover {
            background-color: transparent;
            svg {
                fill:#fff;
            }
        }
    }
}
.catalog {
    &--full-width {
        .right {
            display: none;
        }
        .left {
            width: 100%;
            max-width:none;
        }
        .catalog {
            &__desc {
                max-width: 1100px;
            }
            &__img {
                max-width:301px;
            }
        }
    }
    &__desc {
        font-size: 24px;
        line-height: 1.451;
        letter-spacing: .02em;
        color:#4A5261;
        margin-bottom: 70px;
        max-width:900px;
        p {
            margin-top: 0;
        }
    }
    &__box {
        background-color: #F6F7F9;
        border:1px solid #D6DDEA;
        border-radius:25px 5px;
        background-image:url("../images/catalog__box-back.svg");
        background-size:cover;
        display: flex;
        padding: 43px 43px 43px 60px;
        margin-bottom: 23px;
        color:#000;
        text-decoration: none;
        align-items: flex-start;
        &-date {
            font-size: 20px;
            line-height: 1.451;
            letter-spacing: .02em;
            color:#4A5261;
            margin-bottom: -5px;
        }
        &--video {
            .catalog {
                &__video {
                    &-img {
                        max-width:200px;
                        margin-right: 0;
                    }
                    &-play {
                        width: 68px;
                        height: 68px;
                        svg {
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
                &__col {
                    margin-top: 20px;
                }
            }
        }

    }
    &__img {
        width: 27%;
        min-width:21%;
        max-width:200px;
        border-radius:50%;
        overflow:hidden;
        img {
            width: 100%;
        }
    }
    &__col {
        margin-left: 67px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__heading {
        font-size: 36px;
        line-height: 1.451;
        letter-spacing: .02em;
        color:#000;
        margin: 20px 0 24px;
    }
    &__subheading {
        font-size: 24px;
        line-height: 1.458;
        color:#4a5261;
        letter-spacing: .02em;
        margin: -10px 0 20px;
        max-width:750px;
    }
    &__links {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }
    &__link {
        position: relative;
        font-size: 28px;
        line-height: 1.451;
        letter-spacing: .02em;
        color: #2B72C0;
        text-decoration: none;
        margin-bottom: 12px;
        span {vertical-align:top;}
        &:after {
            content:'>';
            font-size: 42px;
            line-height: .9;
        }
        &:hover {
            span {
                text-decoration: underline;
            }
        }
    }
    a.catalog__box {
        transition:background-color .3s;
        &:hover {
            background-color: #edf4ff;
        }
    }
    &__video {
        display: flex;
        max-width:900px;
        margin: 70px 0;
        &-img {
            max-width:438px;
            margin-right: 41px;
            position: relative;
            border-radius:53%;
            overflow:hidden;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit:cover;
                border-radius:50%;
                overflow:hidden;
            }
        }
        &-right {
            width: 47%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        &-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
            width: 103px;
            height: 103px;
            border-radius:50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color .3s;
            svg {
                fill:#094A92;
                width: 25px;
                height: 28px;
                transition: .3s;
            }
            &:hover {
                background-color: #094A92;
                svg {
                    fill:#fff;
                }
            }
        }
        &-desc {
            font-size: 24px;
            line-height: 1.458;
            letter-spacing: .02em;
            color:#4a5261;
        }
        &-link {
            position: relative;
            font-size: 24px;
            line-height: 1.375;
            color: #2b72c0;
            text-decoration: none;
            padding-left: 66px;
            margin-top: 10px;
            &:before {
                color: #fff;
                content: '';
                width: 42px;
                height: 2px;
                background-color: #2b72c0;
                position: absolute;
                left: 0;
                top: 50%;
            }
            &:after {
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                border-bottom: 2px solid #2b72c0;
                border-left: 2px solid #2b72c0;
                transform: rotate(-135deg);
                left: 31px;
                top: 12px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        &--border {
            max-width:1040px;
            align-items: center;
            .catalog {
                &__video {
                    &-img {
                        padding: 45px;
                        border:2px solid #e9f1f9;
                        border-radius:50%;
                    }
                }
            }
        }
    }
    &__download {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
            position: relative;
            font-size: 24px;
            line-height: 1.375;
            color:#2b72c0;
            text-decoration: none;
            padding-left: 66px;
            &:before {
                color:#fff;
                content:'';
                width: 42px;
                height: 2px;
                background-color: #2b72c0;
                position: absolute;
                left: 0;
                top: 50%;
                transform:translateY(-50%);
            }
            &:after {
                content:'';
                width: 10px;
                height: 10px;
                position: absolute;
                border-bottom: 2px solid #2B72C0;
                border-left: 2px solid #2B72C0;
                transform:rotate(-135deg);
                left: 31px;
                top:12px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__full {
        width: 100%;
        &-title {
            font-size: 20px;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: .06em;
            color:#2b72c0;
            text-align: center;
            margin-bottom: 26px;
        }
        &-desc {
            font-size: 24px;
            line-height: 1.458;
            letter-spacing: .02em;
            color:#4a5261;
            text-align: center;
            max-width:754px;
            margin: 0 auto;
        }
    }
    &__pdf {
        position: relative;
        padding: 56px 115px 56px 146px;
        background-image:url("../images/catalog__box-back.svg");
        background-size:cover;
        background-color: #F6F7F9;
        border:1px solid #D6DDEA;
        border-radius:25px 5px;
        &-link {
            position: absolute;
            top: 64px;
            left: 42px;
            width: 68px;
            height: 68px;
            background-color: #fff;
            border-radius:50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border:2px solid #fff;
            transition: background-color .3s;
            svg {
                width: 28px;
                height: 34px;
                fill:#2B72C0;
                transition: .3s;
            }
            &:hover {
                background-color: #2B72C0;
                svg {
                    fill:#fff;
                }
            }
        }
        &-title {
            font-size: 30px;
            line-height: 1.451;
            letter-spacing: .02em;
            margin-bottom: 26px;
        }
        &-desc {
            color:#4A5261;
            font-size: 24px;
            line-height: 1.45;
            letter-spacing: .02em;
            margin-bottom: 8px;
            a {
                color:#2b72c0;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.content {
    margin-top: 60px;
    display: flex;
}
.left {
    max-width:1057px;
    width: 78%;
}
.right {
    width: 22%;
    flex-grow:1;
    margin-left: 25px;
    &__img {
        max-width:339px;
        img {
            width: 100%;}
    }
    &__decor {
        width: 37vw;
        height: 37vw;
        max-width:610px;
        max-height:610px;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -165px;
        left: -145px;
        background: #fff;
        border-radius: 50%;
        border: 1px solid #0000001a;
        &-wrap {
            height: 25vw;
            max-height:500px;
            position: relative;
        }
    }
}
.menu {
    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width:340px;
    }
    &__box {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        &:first-child {
            padding-top: 8px;}
        &.active {
            &.menu__box--has-submenu {
                & > a {
                    &:after {
                        display: inline-block;
                        transform:rotate(90deg) translate(2px, -4px);
                    }
                }
            }
            & > a {
                color:#000;
                pointer-events:none;
                &:after {
                    display: none;
                }
            }
            .menu {
                &__submenu {
                    display: flex;
                }
            }
        }
    }
    &__item {
        font-size: 24px;
        color:#2B72C0;
        text-decoration: none;
        line-height: 1.458;
        letter-spacing: .02em;
        span {vertical-align:top;}
        &:after {
            content:'>';
            font-size: 37px;
            line-height: .9;
        }
        &:hover {
            span {
                text-decoration: underline;
            }
        }
    }
    &__submenu {
        display: none;
        flex-direction:column;
        align-items: flex-start;
        margin-top: 25px;
        &-item {
            font-size: 20px;
            color:#2B72C0;
            text-decoration: none;
            line-height: 1.25;
            letter-spacing: .02em;
            margin-bottom: 15px;
            span {vertical-align:top;}
            &:after {
                content:'>';
                font-size: 28px;
                line-height: .9;
            }
            &:hover {
                span {
                    text-decoration: underline;
                }
            }
            &.active {
                color:#000;
                pointer-events:none;
                &:after {
                    display: none;}
            }
        }
    }
}
.decor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    background-image: url(../images/decor-back.svg);
    background-size: 100%;
    background-position: 50% 100%;
    pointer-events: none;
    background-repeat: no-repeat;
}
.breadcrumbs {
    margin: 22px 0;
    &__list {
        padding: 0;
        margin: 0;
        list-style:none;
        display: flex;
        a {
            text-decoration: none;
            color:#fff;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.35;
            &:hover {
                text-decoration: underline;
            }
        }
        li + li {
            margin-left: 52px;
            position: relative;
            &:before {
                color:#fff;
                content:'';
                width: 24px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                left: -35px;
                top: 50%;
                transform:translateY(-50%);
            }
            &:after {
                content:'';
                width: 10px;
                height: 10px;
                position: absolute;
                border-bottom: 2px solid #fff;
                border-left: 2px solid #fff;
                transform:rotate(45deg);
                left: -35px;
                top: 9px;
            }
        }
    }
}
.product {
    margin-bottom: 50px;
    &__title {
        font-size: 60px;
        line-height: 1.216;
        letter-spacing: -.02em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin: 0;
        margin-bottom: 42px;
    }
    &__tabs {}
    &__tab {
        display: flex;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        a {
            font-size: 30px;
            line-height: 1.23;
            letter-spacing: -.02em;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            position: relative;
            color:#000;
            transition: color .3s;
            margin-right: 69px;
            padding: 0 0 35px;
            &:before {
                content:'';
                position: absolute;
                left: 0;
                width: 0;
                bottom: 0;
                height: 3px;
                background-color: #094A92;
                transition: width .3s;
            }
            &.active {
                color:#094A92;
                &:before {
                    width: 100%;
                }
            }
            &:hover {
                color:#094A92;
            }
        }
    }
    &__content {
        opacity: 0;
        min-width:100%;
        &.active {
            opacity: 1;
            order:-1;
        }
        &-wrap {
            display: flex;
            align-items: flex-start;
            margin-top: 47px;
        }
        &-inner {
            width: 67%;
            max-width:701px;
            display: flex;
            overflow:hidden;
        }
        &-img {
            &-wrap {
                width: 33%;
                margin-left: 20px;
                max-width:311px;
                margin-top: 15px;
            }
            border: 1px solid #D6DDEA;
            border-radius:50%;
            position: relative;
            padding-bottom: calc(100% - 2px);
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                object-fit:contain;
                transform:translate(-50%, -50%);
            }
        }
    }
    &__info {
        font-size: 24px;
        line-height: 1.451;
        letter-spacing: .02em;
        color:#4A5261;
    }
    &__maker {
        &-info {
            margin-top: 27px;
            font-size: 24px;
            line-height: 1.451;
            letter-spacing: .02em;
            color:#4A5261;
        }
    }
}
.service {
    &__desc {
        font-size: 24px;
        line-height: 1.458;
        letter-spacing: .02em;
        color:#4A5261;
        width: 61%;
        margin-bottom: 120px;
        p {
            margin-top: 0;
        }
    }
    &__img {
        width: 36%;
        max-width:476px;
        border-radius:50%;
        margin-top: -57px;
        margin-right: -17px;
        position: relative;
        &:before {
            content:'';
            display: inline-block;
            position: absolute;
            left: -65px;
            top: -65px;
            right: -65px;
            bottom: -65px;
            border: 2px solid #2B72C0;
            border-radius:50%;
            opacity: .1;
        }
        img {
            width: 100%;
            object-fit:cover;
        }
        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100vw;
            max-width:1415px;
            margin: 20px 0 -77px;
        }
    }
    &__offer {
        margin-bottom: 71px;
        &-title {
            font-size: 50px;
            line-height: 1.22;
            letter-spacing: -.02em;
            margin-bottom: 54px;
            font-family: 'Montserrat', sans-serif;
        }
        &-box {
            column-count:2;
            margin-left: -30px;
        }
        &-item {
            display: flex;
            margin-bottom: 30px;
            margin-left: 30px;
        }
        &-ico {
            display: flex;
            margin-right: 22px;
            svg {
                width: 37px;
                height: 37px;
            }
        }
        &-text {
            font-size: 24px;
            line-height: 1.456;
            color:#4A5261;
            letter-spacing: .02em;
        }
    }
    &__contact {
        background-color: #f6f7f9;
        border: 1px solid #d6ddea;
        border-radius: 25px 5px;
        background-image: url(../images/catalog__box-back.svg);
        background-size: cover;
        padding: 43px;
        margin-bottom: 23px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height:331px;
        &-title {
            font-size: 24px;
            line-height: 1.451;
            letter-spacing: .02em;
            color:#4A5261;
        }
        &-phone {
            font-size: 41px;
            line-height: 1.21;
            letter-spacing: -.02em;
            font-family: 'Montserrat', sans-serif;
            display: block;
            text-align: center;
            text-decoration: none;
            color:#000;
            margin: 25px 0;
            &:hover {
                text-decoration: underline;
            }
        }
        &-email {
            color:#2a72c0;
            font-size: 24px;
            line-height: 1.451;
            text-decoration: none;
            display: block;
            text-align: center;
            letter-spacing: .02em;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.about {
    &__values {
        margin-top: 71px;
        .service {
            &__offer {
                &-box {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
.policy {
    &__offer {
        max-width:596px;
        position: relative;
        margin: 50px 0;
        &-img {
            padding: 45px;
            border: 2px solid #e9f1f9;
            border-radius:50%;
        }
        &-item {
            position: absolute;
            display: flex;
            align-items: center;
            svg {
                width: 37px;
                height: 37px;
                margin-right: 17px;
            }
            span {
                font-size: 30px;
                line-height: 1.451;
                letter-spacing: .02em;
            }
            &:nth-child(2) {
                top: 45px;
                right: -59px;
            }
            &:nth-child(3) {
                top: 191px;
                right: -198px;
            }
            &:nth-child(4) {
                top: 329px;
                right: -214px;
            }
            &:nth-child(5) {
                top: 471px;
                right: -180px;
            }
        }
    }
    &__links {
        display: flex;
        margin: 100px -11px 0;
        max-width:990px;
        a {
            display: inline-block;
            margin: 0 11px;
            border-radius:25px 5px;
            border:1px solid #D6DDEA;
            background: #F6F7F9;
            font-size: 30px;
            line-height: 1.451;
            color:#000;
            letter-spacing: .02em;
            text-decoration: none;
            padding: 34px 52px;
            width: calc(50% - 22px);
            transition:background-color .3s;
            &:hover {
                background-color: #edf4ff;
            }
        }
    }
}
.privacy {
    .service {
        &__offer {
            &-box {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
            }
            &-item {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.partners {
    &__box {
        background-color: #F6F7F9;
        border:1px solid #D6DDEA;
        border-radius:25px 5px;
        background-image:url("../images/catalog__box-back.svg");
        background-size:cover;
        padding: 45px 70px;
        margin-bottom: 32px;
    }
    &__img {
        margin-bottom: 36px;
        max-width:50%;
    }
    &__desc {
        font-size: 24px;
        line-height: 1.451;
        letter-spacing: .02em;
        color:#4A5261;
    }
}
.career {
    &__title {
        font-size: 30px;
        line-height: 1.451;
        letter-spacing: 0.02em;
        margin-bottom: 30px;
    }
    &__box {
        padding: 54px 62px 54px 73px;
    }
}
.contacts {
    &__map {
        height: 632px;
        background-color: #f1f1f1;
        margin-bottom: 75px;
        position: relative;
        z-index: 1;
    }
    &__title {
        font-size: 36px;
        line-height: 1.451;
        letter-spacing: .02em;
        margin-bottom: 27px;
    }
    &__row {
        display: flex;
    }
    &__col {
        flex-grow:1;
        margin-right: 40px;
    }
    &__item {
        font-size: 24px;
        line-height: 1.451;
        letter-spacing: .02em;
        & > span {
            color:#4A5261;
        }
        a {
            color:#2B72C0;
            text-decoration: none;
            span {
                color:#000;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.page-404 {
    margin: 15vh 0 5vh;
    &--img {
        background-image: url('../images/404-back.svg');
        background-repeat:no-repeat;
        background-size:cover;
        background-position:right center;
    }
    &__content {
        max-width:1455px;
        padding: 0 20px;
        margin: 0 auto;
    }
    &__title {
        font-size: 109px;
        line-height: 1.451;
        letter-spacing: .02em;
        color:#094a92;
    }
    &__subtitle {
        font-size: 36px;
        line-height: 1.451;
        letter-spacing: .02em;
        margin-bottom: 25px;
    }
    &__desc {
        font-size: 24px;
        line-height: 1.451;
        letter-spacing: .02em;
        color:#4A5261;
    }
    &__btn {
        margin-top: 25px;
        a {
            font-size: 28px;
            &:after {
                font-size: 43px;
            }
        }
    }
}

//.video {
//    width: 100vw;
//    height: calc(100vh - 99px);
//    padding: 0;
//    position: absolute;
//    left: -9999px;
//    cursor:pointer;
//    &.fancybox-content {
//        position: relative;
//        left: auto;
//    }
//    &__close {
//        &-wrap {
//            position: absolute;
//            width: 100%;
//            max-width: 1455px;
//            left: 50%;
//            transform: translateX(-50%);
//        }
//        position: absolute;
//        bottom: 78px;
//        right: 20px;
//        font-size: 13px;
//        line-height: 16px;
//        font-family: 'Montserrat', sans-serif;
//        text-transform: uppercase;
//        color:#fff;
//        display: flex;
//        align-items: center;
//        border:none;
//        background-color: transparent;
//        padding: 7px 0;
//        i {
//            position: relative;
//            width: 12px;
//            height: 12px;
//            &:before {
//                content:'';
//                position: absolute;
//                width: 12px;
//                height: 1px;
//                background-color: #fff;
//                transform:rotate(45deg);
//                top: 6px;
//            }
//            &:after {
//                content:'';
//                position: absolute;
//                width: 12px;
//                height: 1px;
//                background-color: #fff;
//                transform:rotate(-45deg);
//                top: 6px;
//            }
//        }
//    }
//}
.fancybox-slide--html {
    padding: 0;}
.fancybox-bg, .fancybox-inner, .fancybox-outer {
    top: 99px;
}
.fancybox-slide {
    padding: 0;}
.compensate-for-scrollbar {
    //padding-right: 0!important;
    background-color: #184b88;
}
body.compensate-for-scrollbar {
    width: 100%;
    height: 100%;
}
body.compensate-for-scrollbar header {
    position: relative;
    z-index: 100000;
}
.video-js {
    width: 100vw;
    height: calc(100vh - 99px);
    background-image: url('../images/mobmenu-back.svg');
    background-color: #071E38;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {cursor:pointer;}
.fancybox-slide--html .fancybox-close-small {
    display: none;}
//.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
//    opacity: 1;}
//.video-js .vjs-control-bar {
//    background-color: transparent;
//    bottom: 78px;
//    max-width:1287px;
//    padding: 0 20px;
//    width: calc(100% - 168px);
//    left: 50%;
//    transform: translateX(calc(-50% - 84px));
//}
//.video-js .vjs-picture-in-picture-control {
//    display: none;
//}
//.video-js .vjs-fullscreen-control {
//    display: none;
//}
//.video-js .vjs-progress-holder {
//    height: 5px;
//}
//.video-js .vjs-play-progress:before {
//    display: none;
//}
//.video-js .vjs-load-progress {
//    background-color: transparent;
//}
//.video-js .vjs-load-progress div {
//    background-color: transparent;
//}
//.video-js .vjs-time-control {
//    font-size: 15px;
//    opacity:.6;
//    line-height: 2;
//}
//.video-js .vjs-slider {
//    background-color: #ffffff80;
//}
@media screen and (min-width:768px) {
    .catalog {
        &__box {
            &--big {
                align-items: center;
                .catalog {
                    &__img {
                        min-width:46%;
                        max-width:438px;
                    }
                    &__video {
                        &-img {
                            max-width:438px;
                            margin-right: 0;
                        }
                        &-play {
                            width: 103px;
                            height: 103px;
                            svg {
                                width: 34px;
                                height: 34px;
                            }
                        }
                    }

                }
            }

        }
    }
}
@media screen and (max-width:1730px) {
    .right {
        &__decor {
            width:32vw;
            height: 32vw;
            padding: 35px;
        }
    }
}
@media screen and (max-width: 1520px) {
    .event {
        &__slider {
            margin: 0 25px 80px;
        }
    }
}
@media screen and (max-width: 1480px) {
    .service {
        &__img {
            margin-right: 0;
            &-wrap {
                width: calc(100vw - 40px);
                padding-right: 15px;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .header {
        &__logo {
            width: auto;
        }
        &__nav {
            width: auto;
        }
        &__right {
            width: auto;
        }
    }
}

@media screen and (max-width: 1366px) {
    .vector {
        &__info {
            bottom: -60px;
        }
    }
    .service {
        &__offer {
            &-box {
                display: flex;
                flex-wrap:wrap;
            }
            &-item {}
        }
    }
    .catalog {
        &__desc {
            &--small {
                max-width: 755px;
            }
        }
    }
}
@media screen and (max-width: 1280px) {
    .header {
        &__nav {
            display: none;
        }
        &__top {
            padding: 13px 0;
        }
    }
    .vector {
        margin-top: 25px;
        flex-direction: column;
        padding: 0 0 150px;
        &__svg {
            padding: 80px 0 50px;
            svg {
                z-index: 5;}
            &:after {
                content:'';
                position: absolute;
                top: calc(50% - 73px);
                left: 50%;
                transform:translate(-50%, -50%);
                width: 768px;
                height: 768px;
                background: radial-gradient(50% 50% at 50% 50%,#4996eb 0,#094a9200 100%);
            }
        }
        &__title {
            top: 0;
            transform:none;
            max-width:none;
        }
        &__info {
            max-width:none;
            bottom: 0;
            left: 18px;
        }
    }
    .circle {
        &--main {
            top: calc(50% - 100px);
        }
    }
    .background {
        display: none;}
    .footer {
        padding-top: 25px;
        padding-bottom: 0;
        &__row {
            flex-direction: column-reverse;
        }
        &__col {
            margin-bottom: 25px;
        }
    }
    .fancybox-bg, .fancybox-inner, .fancybox-outer {
        top: 71px;
    }
    .video {
        height: calc(100vh - 71px);
    }
    .video-js {
        height: calc(100vh - 71px);
    }
}
@media screen and (max-width: 1200px) {
    .circle {
        display: none;
    }
    .svg {
        &-line {
            display: none;
            &--hover {
                display: none;
            }
            &--reverse {
                display: none;
            }
        }
        &-title {
            display: none;
        }
    }
    .header {
        &__mobmenu {
            display: block;
        }
        &__search {
            display: none;
        }
    }
    .mobmenu {
        &.opened {
            .mobmenu {
                &__inner {
                    transform:translateX(0);
                }
                &__burger {
                    height: 30px;
                    span {
                        background-color: transparent;
                        &:before {
                            transform:rotate(45deg);
                            top: 50%;
                        }
                        &:after {
                            transform:rotate(-45deg);
                            top: 50%;
                        }
                    }
                }
            }
        }
        &__burger {
            width: 30px;
            height: 16px;
            position: relative;
            display: flex;
            align-items: center;
            cursor:pointer;
            margin-left: 45px;
            span {
                display: inline-block;
                width: 30px;
                height: 2px;
                background-color: #fff;
                &:before {
                    content:'';
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    background-color: #fff;
                    top: 0;
                    left: 0;
                    transition: transform .3s;
                }
                &:after {
                    content:'';
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    background-color: #fff;
                    bottom:0;
                    left: 0;
                    transition: transform .3s;
                }
            }
        }
        &__inner {
            position: absolute;
            top: 71px;
            left: -20px;
            right: -20px;
            height: calc(100vh - 71px);
            z-index: 6;
            transform:translateX(200%);
            transition: transform .3s;
            overflow:auto;
        }
        &__search {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius:66px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 12px 10px 19px;
            margin: 20px 20px 0;
            input {
                border:none;
                background:transparent;
                font-size: 18px;
                line-height: 1.388;
                color:#fff;
                &::placeholder {
                    color:#fff;
                }
            }
            button {
                border:none;
                background-color: transparent;
                display: flex;
                align-items: center;
                svg {
                    width: 21px;
                    height: 21px;
                }
            }
        }
        &__nav {
            margin: 30px 0 94px;
        }
        &__item {
            border-bottom: 1px solid rgba(255, 255, 255, .1);
            position: relative;
            transition:background-color .3s;
            &.opened {
                background-color: #143B6E;
                .mobmenu {

                }
            }
        }
        &__link {
            font-size: 20px;
            line-height: 1.456;
            color:#fff;
            text-decoration: none;
            padding: 15px 24px;
            display: inline-block;
            margin-right: 50px;
            &--action {
                position: relative;
                color:#094A92;
                margin-left: 24px;
                padding: 15px 18px;
                &:after {
                    content:'';
                    position: absolute;
                    top: 10px;
                    right: 0;
                    left: 0;
                    bottom: 10px;
                    border-radius:60px;
                    background-color: #fff;
                    z-index: -1;
                }
            }
        }
        &__arrow {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 16px;
            right: 15px;
            cursor:pointer;
            &:before {
                content:'';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 8px;
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: translate(-50%, -50%) rotate(-45deg);
                transition:transform .3s;
            }
            &.opened {
                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
        &__submenu {
            margin: 0 24px;
            max-height:0;
            overflow:hidden;
            &.opened {
                max-height:none;
            }
        }
        &__sublink {
            font-size: 18px;
            display: block;
            line-height: 1.388;
            color:#fff;
            text-decoration: none;
            padding: 14px 19px 13px;
            border-top: 1px solid rgba(255, 255, 255, .1);;
        }
        &__phone {
            font-size: 24px;
            line-height: 1.456;
            text-align: center;
            display: block;
            color:#fff;
            text-decoration: none;

        }
        &__socials {
            display: flex;
            justify-content: center;
            margin: 41px 0;
        }
        &__social {
            margin: 0 5px;
            opacity: .5;
            svg {
                width: 41px;
                height: 41px;
                fill: #fff;
            }
        }
    }
    .main {
        &__service {
            flex-wrap:wrap;
            justify-content:center;
            &-item {
                width: calc(50% - 30px);
                margin-bottom: 30px;
                justify-content: center;
            }
        }
    }
    .banner {
        &__title {
            font-size: 42px;
            line-height: 1.25;
        }
        &__pdf {
            display: none;
        }
    }
    .content {
        margin-top: 40px;
        flex-direction:column-reverse;
    }
    .menu {
        display: none;
    }
    .right {
        width: 100%;
        margin-left: 0;
        &__img {
            display: none;
        }
        &__decor {
            display: none;
            &-wrap {
                display: none;
            }
        }
    }
    .left {
        width: 100%;
        max-width:none;
    }
    .catalog {
        &__desc {
            font-size: 20px;
            margin-bottom: 45px;
        }
        &__box {
            padding: 25px 25px 25px 40px;
        }
        &__heading {
            font-size: 30px;
        }
        &__subheading {
            font-size: 20px;
        }
        &__link {
            font-size: 24px;
            &:after {
                font-size: 37px;
            }
        }
        &__video {
            &-desc {
                font-size: 20px;
            }
        }
    }
    .product {
        &__title {
            margin-bottom: 15px;
        }
    }
    .contacts {
        &__row {
            flex-direction: column;
        }
        &__col {
            margin-right: 0;
            margin-bottom: 25px;
        }
    }
}

@media screen and (max-width:992px) {
    .vector {
        &__title {
            font-size: 34px;
            line-height: 1.2;
        }
        &__info {
            font-size: 16px;
            line-height: 1.375;
        }
        &__svg {
            background: none;
            svg {z-index: 999;}
            &:after {
                content:'';
                position: absolute;
                top: calc(50% - 73px);
                left: 50%;
                transform:translate(-50%, -50%);
                width: 768px;
                height: 768px;
                background: radial-gradient(50% 50% at 50% 50%,#4996eb 0,#094a9200 100%);
            }
        }
    }
    .events {
        &__item {
            width: calc(50% - 60px);
        }
    }
    .footer {
        &__col {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
        &__link {
            margin: 0;
            font-size: 13px;
            line-height: 24px;
            margin-bottom: 18px;
        }
        &__socials {
            margin: 0 -5px;
        }
        &__copyright {
            font-size: 14px;
            margin: 15px 0 20px;
        }
    }
    .breadcrumbs {
        display: none;
    }
    .product {
        &__title {
            font-size: 28px;
            line-height: 1.214;
        }
        &__content {
            width: 100%;
            &-wrap {
                flex-direction: column;
                margin-top: 29px;
            }
            &-img {
                &-wrap {
                    order:-1;
                    margin: 0;
                    margin-bottom: 29px;
                    width: 100%;
                    max-width:203px;
                }
            }
        }
        &__tab {
            margin-top: 15px;
            a {
                padding: 18px 0;
                font-size: 18px;
                line-height: 1.22;
                margin-right: 30px;
            }
        }
        &__info {
            font-size: 16px;
            line-height: 1.375;
        }
        &__maker {
            &-img {
                max-width:208px;
            }
            &-info {
                font-size: 16px;
                line-height: 1.375;
            }
        }
    }
    .mobile {
        &--dn {
            display: none;
        }
    }
    .service {
        &__img {
            margin: 0;
            width: 87%;
            &:before {
                display: none;
            }
            &-wrap {
                width: 100%;
                padding: 0;
                flex-direction: column;
                align-items: center;
                margin: 0;
            }
        }
        &__desc {
            width: 100%;
            font-size: 16px;
            line-height: 1.375;
            margin-bottom: 30px;
        }
        &__offer {
            margin: 35px 0;
            &-title {
                font-size: 24px;
                line-height: 1.2;
                margin-bottom: 25px;
            }
            &-box {
                column-count:auto;
                margin-left: 0;
                display: block;
            }
            &-item {
                margin-left: 0;
                margin-bottom: 13px;
            }
            &-ico {
                margin-right: 13px;
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
            &-text {
                font-size: 16px;
                line-height: 1.375;
            }
        }
        &__contact {
            min-height:268px;
            padding: 22px;
            &-title {
                font-size: 18px;
                line-height: 1.38;
                text-align: center;
            }
            &-phone {
                font-size: 24px;
                line-height: 1.2;
                text-align: center;
                margin: 13px 0;
            }
            &-email {
                font-size: 18px;
                line-height: 1.38;
                text-align: center;
            }
        }
    }
    .catalog {
        &__video {
            flex-direction:column;
            align-items: center;
            margin: 35px 0;
            &-img {
                margin-right: 0;
                margin-bottom: 35px;
            }
            &-right {
                width: 100%;
            }
            &--border {
                .catalog {
                    &__video {
                        &-img {
                            padding: 0;
                            border:none;
                        }
                    }
                }
            }
        }
        &__full {
            &-title {
                font-size: 16px;
                margin-bottom: 12px;
            }
            &-desc {
                font-size: 18px;
                line-height: 1.38;
            }
        }
        &__box {
            &--video {
                .catalog {
                    &__video {
                        &-img {
                            margin-bottom: 0;
                        }
                    }
                    &__col {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .policy {
        &__offer {
            max-width:198px;
            &-img {
                padding: 0;
                border:none;
            }
            &-item {
                svg {
                    width: 15px;
                    height: 15px;
                    margin-right: 9px;
                }
                span {
                    font-size: 14px;
                }
                &:nth-child(2) {
                    top: 0;
                    right: -55px;
                }
                &:nth-child(3) {
                    top: 56px;
                    right: -112px;
                }
                &:nth-child(4) {
                    top: 111px;
                    right: -118px;
                }
                &:nth-child(5) {
                    top: 166px;
                    right: -107px;
                }
            }
        }
        &__links {
            margin-top: 28px;
            a {
                padding: 22px 37px;
                font-size: 18px;
                line-height: 1.388;
                margin-bottom: 15px;
                min-height:94px;
                display: flex;
                align-items: center;
            }
        }
    }
    .page-404 {
        &--img {
            background-size: contain;
            background-position: center 10%;
        }
        &__title {
            font-size: 57px;
        }
        &__subtitle {
            font-size: 20px;
            margin-bottom: 15px;
        }
        &__desc {
            font-size: 16px;
        }
        &__btn {
            margin-top: 15px;
            a {
                font-size: 16px;
                &:after {
                    font-size: 23px;
                }
            }
        }
    }
    .contacts {
        &__map {
            height: 500px;
            margin-bottom: 30px;
        }
        &__title {
            font-size: 20px;
            margin-bottom: 18px;
        }
        &__col {
            margin-bottom: 19px;
        }
        &__item {
            font-size: 16px;
            line-height: 1.375;
        }
    }
}
@media screen and (max-width:767px) {
    .header {
        &__phone {
            display: none;
        }
        &__logo {
            svg {
                width: 91px;
                height: 32px;
            }
        }
    }
    .vector {
        &__svg {
            position: relative;
            svg {
                min-width: 688px;
            }
            &:before {
                content:'';
                position: absolute;
                width: 365px;
                height: 365px;
                top: 50%;
                left: 50%;
                transform:translate(-50%, -50%);
                border-radius:50%;
                border:1px solid #fff;
                opacity:.1;
            }
            &:after {
                top: 50%;
            }

        }
    }
    .main {
        &__service {
            margin-top: 66px;
            margin-bottom: 61px;
            &-item {
                width: 100%;
                justify-content: flex-start;
                span {
                    font-size: 30px;
                }
            }
        }
    }
    .events {
        margin-bottom: 15px;
        &__btn {
            display: none;
        }
        &__title {
            h2 {
                font-size: 30px;
            }
        }
        &__item {
            width: 100%;
        }
        &__desc {
            font-size: 16px;
        }
        &__more {
            margin: 30px 0 9px;
            text-align: center;
        }
    }
    .event {
        &__date {
            font-size: 13px;
        }
        &__title {
            font-size: 24px;
            line-height: 1.2;
            margin: 5px 0 15px;
        }
        &__slider {
            margin: 0 5px 50px;
            .slick-dots {
                bottom: -25px;
                margin: 0;
            }
            .slick-dots li {
                width: 6px;
                height: 6px;
                margin: 0 5px;
            }
            .slick-dots li button:before {
                width: 6px;
                height: 6px;
            }
            .slick-next, .slick-prev {
                min-height:6px;
            }
            .slick-next {
                right: -25px;
            }
            .slick-prev {
                left: -15px;
            }
            .slick-next:before, .slick-prev:before {
                width: 9px;
                height: 9px;
                border-width: 2px;
            }
        }
    }
    .mobmenu {
        &__inner {
            top: 62px;
        }
    }
    .content {
        margin-top: 30px;
    }
    .catalog {
        &__desc {
            font-size: 16px;
            line-height: 1.375;
            margin-bottom: 38px;
        }
        &__box {
            padding: 24px 21px 5px;
            flex-direction: column;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            &-date {
                font-size: 18px;
                margin-top: 17px;
                margin-bottom: -10px;
            }
        }
        &__img {
            min-width:100px;
        }
        &__col {
            margin-left: 0;
        }
        &__heading {
            font-size: 24px;
        }
        &__subheading {
            font-size: 16px;
            line-height: 1.375;
        }
        &__link {
            font-size: 16px;
            margin-bottom: 20px;
            &:after {
                font-size: 25px;
            }
        }
        &__inner {
            margin: 0 -5px;
        }
        &__video {
            &-desc {
                font-size: 16px;
                line-height: 1.375;
            }
            &-link {
                padding-left: 57px;
                font-size: 16px;
                line-height: 1.375;
                &:before {
                    width: 37px;
                }
                &:after {
                    width: 8px;
                    height: 8px;
                    left: 30px;
                    top: 8px;
                }
            }
        }
        &__download {
            a {
                padding-left: 57px;
                font-size: 16px;
                line-height: 1.375;
                &:before {
                    width: 37px;
                }
                &:after {
                    width: 8px;
                    height: 8px;
                    left: 30px;
                    top: 8px;
                }
            }
        }
        &__pdf {
            padding: 26px 21px;
            &-link {
                position: static;
                margin-bottom: 12px;
            }
            &-title {
                font-size: 20px;
                line-height: 1.35;
                margin-bottom: 16px;
            }
            &-desc {
                font-size: 16px;
                line-height: 1.375;
                margin-bottom: 0;
            }
        }
    }
    .banner {
        padding: 17% 0 10%;
        &__text {
            position: relative;
            transform:none;
            bottom: auto;
            left: auto;
        }
        &__title {
            font-size: 28px;
            line-height: 1.21;
        }
        img {
            position: absolute;
            object-fit:cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .footer {
        margin-top: 21px;
    }
    .decor {
        display: none;
    }
    .policy {
        &__links {
            flex-wrap:wrap;
            a {
                width: 100%;
            }
        }
    }
    .partners {
        &__box {
            margin-bottom: 25px;
            padding: 22px;
        }
        &__img {
            max-width:70%;
            margin-bottom: 14px;
        }
        &__desc {
            font-size: 16px;
            line-height: 1.375;
        }
    }
    .career {
        &__title {
            font-size: 20px;
            line-height: 1.35;
            margin-bottom: 20px;
        }
    }
    .fancybox-bg, .fancybox-inner, .fancybox-outer {
        top: 62px;}
}

@media screen and (max-width:533px) {
    .vector {
        &__svg {
            background: none;
            svg {
                z-index: 99;
            }
            padding: 150px 0 170px;
            &:before {
                top: calc(50% - 25px);
            }
            &:after {
                width: 688px;
                height: 688px;
                top: calc(50% - 25px);
            }
        }
    }
    .catalog {
        &__video {
            &-play {
                width: 40px;
                height: 40px;
                svg {
                    width: 13px;
                    height: 13px;
                    transform:translateX(1px);
                }
            }
        }
    }
}
@media screen and (max-width:355px) {
    .policy {
        &__offer {
            transform:scale(.9);
        }
    }
}